<ul class="navigation">
    <li>
        <a href="">
            <span uk-icon="speedometer"></span>
            <label>داشبورد</label>
        </a>
    </li>
    <li>
        <a href="">
            <span uk-icon="archive"></span>
            <label>آرشیو</label>
        </a>
    </li>
</ul>
