<ul class="navigation">
    <li>
        <a href="/User/Home">
            <span uk-icon="tachometer-alt"></span>
            <label>داشبرد</label>
        </a>
    </li>
    <li>
        <div accordion>
            <a accordion-trigger>
                <span uk-icon="copy"></span>
                <label>بخش ها</label>
            </a>
            <ul>
                <li>
                    <a href="/User/Page/1">
                        <span uk-icon="file"></span>
                        <label>شیرخوارگاه</label>
                    </a>
                </li>
                <li>
                    <a href="/User/Page/2">
                        <span uk-icon="file"></span>
                        <label>مطب</label>
                    </a>
                </li>
                <li>
                    <a href="/User/Page/3">
                        <span uk-icon="file"></span>
                        <label>آشپزخانه</label>
                    </a>
                </li>
            </ul>
        </div>
    </li>
</ul>
