@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    @using System.Security.Claims

}

@section Navigation{
    <partial name="../_UserNavigation" />
}

@section Styles{

    <link href="~/css/User.min.css" rel="stylesheet" />

    @RenderSection("Styles", false)

}

@*@section Notifications{
        <div class="dropdown-list col">
            <div class="col uk-align-center uk-margin-auto uk-margin-top">
                <img src="~/st/svg/Empty.svg" class="uk-margin-auto" alt="" width="80" />
                <h6 class="text-3 uk-margin-small-top">اعلانی وجود ندارد</h6>
            </div>
        </div>
    }*@

@section User{
    <div class="column">
        <h6>@User.FindFirstValue("UserName").ToString()</h6>
        @*<span>نام شیفت</span>*@
    </div>
    @{
        var ImageUser = "";
        if (User.FindFirstValue("ImageUser").ToString() != "")
        {
            ImageUser = User.FindFirstValue("ImageUser").ToString();
        }
    }

    @if (ImageUser != "")
    {
        <img src="~/Images/User/@ImageUser" height="48" width="48" alt="عکس کاربر" />
    }
    else
    {
        <img src="~/st/png/C.png" height="48" width="48" alt="عکس کاربر" />
    }
    <span uk-icon="chevron-down"></span>
    <div uk-drop="pos: bottom-justify; boundary: .user; boundary-align: true">
        <div class="dropdown">
            <ul class="dropdown-list">
                @if (Convert.ToBoolean(User.FindFirstValue("IsAdmin")) == true)
                {
                    <li>
                        <a href="/Admin/" class="rowr">
                            <span class="uk-margin-small-left" uk-icon="user"></span>
                            <span>پروفایل مدیر</span>
                        </a>
                    </li>
                }

                <li>
                    <a href="/User/Home/Profile" class="rowr">
                        <span class="uk-margin-small-left" uk-icon="user"></span>
                        <span>پروفایل</span>
                    </a>
                </li>
                <li>
                    <a href="/LogOut" class="rowr text-danger">
                        <span class="uk-margin-small-left" uk-icon="sign-out-alt"></span>
                        <span>خروج</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
}

@RenderBody()

@section Scripts{

    @RenderSection("Scripts", false)

}