<ul class="navigation">
    <li>
        <a href="/User/Home">
            <span uk-icon="tachometer-alt"></span>
            <label>داشبورد</label>
        </a>
    </li>
    <li>
        <a>
            <span uk-icon="archive"></span>
            <label>آرشیو</label>
        </a>
    </li>
</ul>