
<ul class="navigation">
    <li>
        <a href="/User/Home">
            <span uk-icon="tachometer-alt"></span>
            <label>داشبرد</label>
        </a>
    </li>
    <li>
        <div accordion>
            <a accordion-trigger>
                <span uk-icon="copy"></span>
                <label>بخش ها</label>
            </a>
            <ul>
                @await Component.InvokeAsync("PagesInUser", new { id = Convert.ToInt32(User.Claims.First().Value) })
                @*@await Component.InvokeAsync("PagesInUser")*@
            </ul>
        </div>
    </li>
    <li>
        <a href="/User/Form">
            <span uk-icon="upload"></span>
            <label>فرم های پر شده</label>
        </a>
    </li> 
    <li>
        <a href="/User/Form/Refrence">
            <span uk-icon="retweet"></span>
            <label>  ارجاع داده شده به شما)</label>
        </a>
    </li>   
    <li>
        <a href="/User/Form/MyRefrence">
            <span uk-icon="retweet"></span>
            <label>  ارجاع داده شده( فرم شما) </label>
        </a>
    </li>
</ul>
