<ul class="navigation">
    <li>
        <a href="/Admin/Home">
            <span uk-icon="tachometer-alt"></span>
            <label>داشبرد</label>
        </a>
    </li>
    <li>
        <div accordion>
            <a accordion-trigger>
                <span uk-icon="user"></span>
                <label>کاربران</label>
            </a>
            <ul>
                <li>
                    <a href="/Admin/User/List">
                        <span uk-icon="table"></span>
                        <label>لیست کاربران</label>
                    </a>
                </li>
                <li>
                    <a href="/Admin/User/Add">
                        <span uk-icon="plus-square"></span>
                        <label>اضافه کردن</label>
                    </a>
                </li>
            </ul>
        </div>
    </li>
    <li>
        <div accordion>
            <a accordion-trigger>
                <span uk-icon="user-lock"></span>
                <label>شیفت ها</label>
            </a>
            <ul>
                <li>
                    <a href="/Admin/Role/List">
                        <span uk-icon="table"></span>
                        <label>لیست شیفت ها</label>
                    </a>
                </li>
                <li>
                    <a href="/Admin/Role/Add">
                        <span uk-icon="plus-square"></span>
                        <label>اضافه کردن</label>
                    </a>
                </li>
            </ul>
        </div>
    </li>
    <li>
        <div accordion>
            <a accordion-trigger>
                <span uk-icon="copy"></span>
                <label>بخش ها</label>
            </a>
            <ul>
                <li>
                    <a href="/Admin/Page/List">
                        <span uk-icon="table"></span>
                        <label>لیست بخش ها</label>
                    </a>
                </li>
                <li>
                    <a href="/Admin/Page/Add">
                        <span uk-icon="plus-square"></span>
                        <label>اضافه کردن</label>
                    </a>
                </li>
            </ul>
        </div>
    </li>
    <li>
        <div accordion>
            <a accordion-trigger>
                <span uk-icon="file-alt"></span>
                <label>فرم ها</label>
            </a>
            <ul>
                <li>
                    <a href="/Admin/Form/List">
                        <span uk-icon="table"></span>
                        <label>لیست فرم ها</label>
                    </a>
                </li>
                <li>
                    <a href="/Admin/Form/Add">
                        <span uk-icon="plus-square"></span>
                        <label>اضافه کردن</label>
                    </a>
                </li>
            </ul>
        </div>
    </li>
    <li>
        <div accordion>
            <a accordion-trigger>
                <span uk-icon="archive"></span>
                <label>گزارشات</label>
            </a>
            <ul>
                <li>
                    <a href="/Admin/FormKid/List">
                        <span uk-icon="check"></span>
                        <label>فرم های پر شده </label>
                    </a>
                </li>
            </ul>
        </div>
    </li>
    <li>
        <div accordion>
            <a accordion-trigger>
                <span uk-icon="child"></span>
                <label>کودکان</label>
            </a>
            <ul>
                <li>
                    <a href="/Admin/Kid/List">
                        <span uk-icon="table"></span>
                        <label>لیست کودکان</label>
                    </a>
                </li>
                <li>
                    <a href="/Admin/Kid/List">
                        <span uk-icon="plus-square"></span>
                        <label>اضافه کردن</label>
                    </a>
                </li>
            </ul>
        </div>
    </li>
    <li>
        <a href="/Admin/Log/List">
            <span uk-icon="tasks"></span>
            <label>فعالیت ها</label>
        </a>
    </li>
    @*<li>
            <a href="/Admin/Home/Config">
                <span uk-icon="cog"></span>
                <label>تنظیمات</label>
            </a>
        </li>*@
</ul>

