<ul class="navigation">
    <li>
        <a>
            <span uk-icon="tachometer-alt"></span>
            <label>داشبورد</label>
        </a>
    </li>
    <li>
        <div accordion>
            <a accordion-trigger>
                <span uk-icon="user"></span>
                <label>کاربران</label>
            </a>
            <ul>
                <li>
                    <a href="/Admin/User/List">
                        <span uk-icon="table"></span>
                        <label>لیست کاربران</label>
                    </a>
                </li>
                <li>
                    <a href="/Admin/User/Add">
                        <span uk-icon="plus-square"></span>
                        <label>اضافه کردن</label>
                    </a>
                </li>
            </ul>
        </div>
    </li>
    <li>
        <div accordion>
            <a accordion-trigger>
                <span uk-icon="child"></span>
                <label>کودکان</label>
            </a>
            <ul>
                <li>
                    <a href="/Admin/Kid/List">
                        <span uk-icon="table"></span>
                        <label>لیست کودکان</label>
                    </a>
                </li>
                <li>
                    <a href="/Admin/Kid/List">
                        <span uk-icon="plus-square"></span>
                        <label>اضافه کردن</label>
                    </a>
                </li>
            </ul>
        </div>
    </li>
</ul>

