@{
    ViewData["Title"] = "This is a Title";
    Layout = "~/Views/Shared/_EntryLayout.cshtml";
}

<div class="uk-child-width-1-2 row">
    <img src="" height="424" width="424" class="mat login-image uk-box-shadow-large" alt="" />
    <form id="loginForm" class="form col uk-box-shadow-large">
        <div class="form-header"><h3>ورود</h3></div>
        <div class="form-body">
            <div class="fg-col ">
                <label class="fg-label" for="I-1584-1599-1580-1584O">کد ملی</label>
                <input class="entry" id="I-1584-1599-1580-1584O" type="number" placeholder="text">
                <span class="text-danger"></span>
            </div>
            <div class="fg-col ">
                <label class="fg-label" for="I-1588-1603-1585-1585-1581-1589-1586-1600O">گذرواژه</label>
                <input class="entry" id="I-1588-1603-1585-1585-1581-1589-1586-1600O" type="password">
                <span class="text-danger"></span>
            </div>
        </div>
        <div class="form-footer uk-margin-auto-top">
            <button class="btn btn-primary">ورود</button>
        </div>
    </form>
</div>