@model LoginVm
@{
    ViewData["Title"] = "This is a Title";
    Layout = "~/Views/Shared/_EntryLayout.cshtml";
}

<div class="uk-child-width-1-2 row">
    <img src="~/st/png/blue.png" height="424" width="424" class="mat login-image uk-box-shadow-large" alt="" />
    <form id="loginForm"  class="form col uk-box-shadow-large">
        <div class="form-header"><h3>ورود</h3></div>
        <div class="form-body">
            <div class="fg-col ">
                <label class="fg-label" for="IdentificationNo">کد ملی</label>
                <input class="entry" asp-for="IdentificationNo" type="number">
                <span class="text-danger" asp-validation-for="IdentificationNo"></span>
            </div>
            <div class="fg-col">
                <label class="fg-label" for="Password">گذرواژه</label>
                <input class="entry" asp-for="Password" type="password">
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>
        </div>
        <div class="form-footer uk-margin-auto-top">
            <button class="btn btn-primary">
                <span>ورود</span>
            </button>
        </div>
    </form>
</div>