@model TblForm
<div class="form-card card">
    <h4 class="title">
        @Model.Name
    </h4>
    <p class="body">
        @Model.Body
    </p>
    <div class="rowr">
        <a href="/User/Page/Form/@Model.FormId" class="btn btn-dashed"><span>مشاهده</span></a>
        <span class=" text-lesser uk-margin-auto-right uk-margin-auto-top">@Model.DateCreated.Value.AllToShamsi()</span>
    </div>
</div> 