@model AddPageVm
@{
    ViewData["Title"] = "بخش جدید";
    Layout = "~/Areas/Admin/Views/_AdminLayout.cshtml";
}

<form class="form" asp-action="Add" method="post">
    <div class="form-header">
        <h3>
            بخش جدید
        </h3>
    </div>
    <div class="form-body">

        <div class="grid-400">
            <div class="fg-col ">
                <label class="fg-label" for="Name">نام</label>
                <input class="entry" asp-for="Name" type="text">
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
        </div>

    </div>
    <div class="form-footer">
        <button class="btn btn-primary" ><span>اضافه</span></button>
    </div>
</form>