@model TblPageFormRel
@{
    ViewData["Title"] = " تعیین بخش برای فرم  " + ViewBag.name;
    Layout = "~/Areas/Admin/Views/_AdminLayout.cshtml";
}
<form class="form" method="post" asp-action="AddForm">
    <input type="hidden" asp-for="PageId" />
    <input type="hidden" name="name" value="@ViewBag.name" />
    <div class="form-header">
        <h3 dir="rtl">
            اضافه کردن فرم به بخش @ViewBag.name
        </h3>
    </div>
    <div class="form-body">
        <div class="grid-400">
            @{
                List<TblForm> listForm = ViewBag.PageFormRel as List<TblForm>;
            }

            <div class="fg-col ">
                <label class="fg-label" for="name">فرم</label>
                <select class="uk-select" asp-for="FormId">
                    @foreach (var item in listForm)
                    {
                        <option value="@item.FormId">@item.Name</option>
                    }
                </select>
                <span class="text-danger" asp-validation-for="FormId"></span>
            </div>


        </div>

    </div>
    <div class="form-footer">
        <button class="btn btn-primary"><span>اضافه</span></button>
    </div>
</form>