@import '_colors.scss';
@import '_layout.scss';

.counter-grid {
    @include grid-gap(240px,12px);
    direction: rtl;

    > * {
        direction: ltr;
    }
}

.counter {
    @include column;
    @include border-def-radius;

    .content {
        margin: auto;
        @include row-reverse;
        grid-gap: 16px;
        padding: 20px 16px;

        img {
            width: 64px;
            height: 64px;
        }

        .col {
            flex: auto;

            label {
                flex: 1;
                font-size: 20px;
                font-weight: 700;
            }

            span {
                flex: 1;
            }
        }
    }
}

.counter-yellow {
    background-color: $yellow-background;
    color: $yellow;
    fill: $yellow;
    border: solid 1px $yellow-light;
}

.counter-red {
    background-color: $red-background;
    color: $red;
    fill: $red;
    border: solid 1px $red-light;
}

.counter-blue {
    background-color: $blue-background;
    color: $blue;
    fill: $blue;
    border: solid 1px $blue-light;
}

.counter-green {
    background-color: $green-background;
    color: $green;
    fill: $green;
    border: solid 1px $green-light;
}

.counter-purple {
    background-color: $purple-background;
    color: $purple;
    fill: $purple;
    border: solid 1px $purple-light;
}

.counter-card {
    background-color: #fff;
    color: #333;
    fill: #333;
    border: 0;
}

// FORM BUILDER

.form-builder {
    $toolbox-width: 424px;
    width: 100%;

    @include row;

    .toolbox, .toolbox-placeholder {
        flex: 1fr;
        width: $toolbox-width;
        grid-area: toolbox;
        margin-left: -16px;
        margin-bottom: -17px;
        margin-top: -17px;
        margin-right: 16px;
        height: calc(100vh - 72px);
        position: fixed;
        z-index: 180;
        padding-bottom: 61px + 16px;

        .form-body {
            overflow-y: auto !important;
        }
    }

    .toolbox-placeholder {
        position: relative;
        z-index: 179;
    }

    .prototype {
        margin-left: auto;
        margin-right: auto;
        max-width: 512px;
        flex: 1;
        grid-area: form;
        @include column;

        .form-body {
            padding: 12px;
            height: auto;
            flex: auto;
        }
    }
}

$cell-height: 28px;
$cell-background: #fafafa;

.cell-label {
    line-height: $cell-height;
    padding-right: 7px;
    vertical-align: central;
}

.cell-btn {
    height: $cell-height;
    width: $cell-height;
    border-left: $border-def-color 1px solid;
    cursor: pointer;
    margin: 0;
    @include trans(.2);

    svg {
        width: 12px;
        height: 12px;
        fill: #888;
    }
}

.cell-btn:hover {
    background-color: #f3f3f3;
}

.tool {
    display: block;
    background-color: $cell-background;
    @include border-def-radius;
    border: $border-def-color 1px solid;
    @include column;

    .tool-actions {
        background-color: #fafafa;
        @include trans(.2s);
        border-bottom: $border-def-color 1px solid;
        cursor: grab;
        @include row-reverse;
        grid-gap: 0;

        .name {
            color: $text-4;
            flex: auto;
            padding: 0 6px;
        }
    }

    .tool-options {
        @include column;

        * {
            font-size: 12px !important;
        }

        [option] {
            @include row-reverse;
            border-bottom: $border-def-color 1px solid;
            height: $cell-height;

            .option-name {
                width: 80px;
                line-height: $cell-height;
                display: table-column;
                border-left: $border-def-color 1px solid;
                padding-right: 7px;
                vertical-align: central;
                margin: auto;
            }

            *:nth-child(2) {
                height: $cell-height;
                flex: auto;
            }
        }

        [regex-list] {
            @include column;

            .cell-select {
                border-bottom: $border-def-color 1px solid;
                height: $cell-height;
            }

            .regex-list {

                .regex-item {
                    @include row-reverse;
                    border-bottom: $border-def-color 1px solid;

                    .cell-label {
                    }

                    .cell-btn {
                        margin-right: auto;
                        border: 0;
                        border-right: $border-def-color 1px solid;
                    }
                }
            }
        }
        /*#region Controls */

        .cell-entry:focus,
        .cell-checkbox-group:focus,
        .cell-select:focus,
        .cell-entry:hover,
        .cell-select:hover,
        .cell-checkbox-group:hover {
            background-color: darken($cell-background,2%);
        }

        .cell-entry {
            background-color: $cell-background;
            padding: 0 6px;
            font-size: 11px !important;
            border: 0;
            outline: none;
            direction: rtl;
        }

        .cell-checkbox-group {
            display: grid;
            grid-template-columns: 1fr 24px;
            background-color: $cell-background;

            input {
                width: 12px;
                height: 12px;
                margin: auto 6px;
            }

            span {
                line-height: $cell-height;
            }
        }

        .cell-select {
            border: 0;
            outline: 0;
            @include border-radius(0,0,0,0);
            height: $cell-height;
            background-color: $cell-background;
            direction: rtl;
        }
        /*#endregion */
    }

    .tool-content {
        padding: 10px;

        * {
            pointer-events: none;
        }
    }
}

.tool-grabbed {
    @include shadow-mild;
    transform: rotate(-4deg);
    cursor: grabbing !important;
}

.tool:active {
}
