@import '_colors.scss';
@import '_layout.scss';

.counter-grid {
    @include grid-gap(240px,12px);
    direction: rtl;

    > * {
        direction: ltr;
    }
}

.counter {
    @include column;
    background-color: transparentize($primary,.88);
    border: solid 1px transparentize($primary,.2);

    .content {
        margin: auto;
        @include row-reverse;
        grid-gap: 16px;
        padding: 20px 12px;

        * {
            color: $primary;
            fill: $primary;
        }

        img {
            width: 64px;
            height: 64px;
        }

        .col {
            flex: auto;

            label {
                flex: 1;
                font-size: 20px;
            }

            span {
                flex: 1;
            }
        }
    }
}

.counter.purple {
    background: rgb(255,0,65);
    background: -moz-linear-gradient(45deg, rgba(255,0,65,1) 0%, rgba(180,11,201,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(255,0,65,1) 0%, rgba(180,11,201,1) 100%);
    background: linear-gradient(45deg, rgba(255,0,65,1) 0%, rgba(180,11,201,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0041",endColorstr="#b40bc9",GradientType=1);
}

.counter.red {
    background: rgb(255,199,15);
    background: -moz-linear-gradient(45deg, rgba(255,199,15,1) 0%, rgba(255,63,10,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(255,199,15,1) 0%, rgba(255,63,10,1) 100%);
    background: linear-gradient(45deg, rgba(255,199,15,1) 0%, rgba(255,63,10,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffc70f",endColorstr="#ff3f0a",GradientType=1);
}

.counter.blue {
    background: rgb(15,250,255);
    background: -moz-linear-gradient(45deg, rgba(15,250,255,1) 0%, rgba(10,31,255,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(15,250,255,1) 0%, rgba(10,31,255,1) 100%);
    background: linear-gradient(45deg, rgba(15,250,255,1) 0%, rgba(10,31,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0ffaff",endColorstr="#0a1fff",GradientType=1);
}

.counter.green {
    background: rgb(15,255,216);
    background: -moz-linear-gradient(45deg, rgba(15,255,216,1) 0%, rgba(20,227,37,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(15,255,216,1) 0%, rgba(20,227,37,1) 100%);
    background: linear-gradient(45deg, rgba(15,255,216,1) 0%, rgba(20,227,37,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0fffd8",endColorstr="#14e325",GradientType=1);
}

.counter.purple, .counter.red, .counter.blue, .counter.green {
    @include shadow-medium;
    border: 0;

    * {
        color: #fff;
        fill: #fff;
    }
}
