@import '_colors.scss';
@import '_layout.scss';

@media print {
    body {
        border: 16px solid black;
    }
}

button, .btn, a, a:hover .js-upload, input[type=file] {
    cursor: pointer;
    outline: none;
    text-decoration: none !important;
}

.btn {
    display: flex;
    min-height: 26px;
    @include border-def-radius;
    border: 0;
    padding: 4px 15px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    white-space: nowrap;
    min-width: 80px;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: padding-box;
    @include trans(.3s);
    grid-gap: 5px;

    span, text {
        white-space: nowrap;
        margin: auto 0;
    }

    span:first-child {
        margin-left: auto !important;
    }

    span:last-child {
        margin-right: auto !important;
    }

    .uk-icon {
        svg {
            width: 20px;
            height: 20px;
        }
    }
}

@mixin btn-click-glow {
    $intensinty: 0.32;
    -moz-box-shadow: 0 0 9px transparentize($primary,1 - $intensinty);
    -webkit-box-shadow: 0 0 9px transparentize($primary,1 -$intensinty);
    box-shadow: 0 0 9px transparentize($primary,1 -$intensinty);
}

@mixin btn-static-shadow {
    -moz-box-shadow: 0 2px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.1);
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
}

@mixin component-border {
    border: 1px #ddd solid;
}

//-

a.btn {
    line-height: 26px;
}

a.btn.btn-primary:hover {
    color: white;
}

//-

.btn-icon {
    border: 0;
    background-color: transparent;
    min-height: 20px;
    min-width: 20px;
    padding: 7.6px 8px;
    @include trans(.2s);
    color: #555;
}

.btn-icon:hover {
    background-color: transparentize(#000,.94);
    color: #444;
}

.btn-icon:active {
    background-color: transparentize(#000,.88);
    @include trans(.0s);
}

//-

.btn-primary {
    border: 0;
    background-color: $primary;
    color: white;
    @include btn-static-shadow;
}

.btn-primary:hover, .btn-primary:focus {
    background-color: $primary-light;
}

.btn-primary:active {
    background-color: $primary-dark;
    @include btn-click-glow;
    transition: background-color ease .2s;
}

//-

.btn-success {
    border: 0;
    background-color: $green-background !important;
    color: $green !important;
}

.btn-success:hover {
    background-color: darken( $green-background, 4%) !important;
    color: darken( $green, 4%) !important;
}

//-

.btn-warning {
    border: 0;
    background-color: $yellow-background !important;
    color: $yellow !important;
}

.btn-warning:hover {
    background-color: darken( $yellow-background, 4%) !important;
    color: lighten($yellow, 4%) !important;
}

//-

.btn-danger {
    border: 0;
    background-color: $red-background !important;
    color: $red !important;
}

.btn-danger:hover {
    background-color: darken( $red-background, 4%) !important;
    color: darken( $red, 4%) !important;
}

//-

.btn-secondary {
    @include component-border;
    background-color: $mat-background;
    color: lighten($Text,12%);
    @include btn-static-shadow;
}

.btn-dashed {
    border: 1px #ddd dashed;
    background-color: $mat-background;
    color: $Text;
    @include btn-static-shadow;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-dashed:hover, .btn-dashed:focus {
    border-color: $primary;
    color: $primary-light;
}

.btn-secondary:active, .btn-dashed:active {
    border-color: $primary-dark;
    color: $primary-dark;
    @include btn-click-glow;
    transition: background-color ease .2s;
}

//-

.btn-text {
    background: rgba(0,0,0,.00);
    color: $Text;
}

.btn-text:hover, .btn-text:focus {
    background: rgba(0,0,0,.04);
}

.btn-text:active {
    background: transparentize($primary-dark,.96);
}

//-

.btn-link {
    background: rgba(0,0,0,.0);
    color: $link;
}

.btn-link:hover, .btn-link:focus {
    text-shadow: 0 0 5px transparentize($primary-dark,.64);
}

.btn-link:active {
    background: #E6F7FF;
}

//-

.text-def {
    color: $Text;
}

.text-lesser {
    color: lighten($Text,32%) !important;
}

//-

input:not(input[type=checkbox]):not(input[type=radio]) {
    font-size: 13px;
    min-height: 26px;
}

/*#region Form */

.entry, .entry-invis {
    background: #fff;
    padding: 2px 8px;
    font-size: 14px;
    direction: rtl;
    @include component-border;
    @include border-def-radius;
    @include placeholder(#ddd);
    @include trans(.3s);
}

.entry-invis {
    border: 0;
    background-color: transparent;
}

.entry:hover, .entry:focus {
    border: 1px $primary solid;
}

.entry:focus {
    @include btn-click-glow;
}

.entry:disabled, .entry[disabled] {
    background: #F5F5F5;
    color: #BFBFBF;
    cursor: not-allowed;
}

$title-fontsize: 18px;

.fg-col {
    margin-bottom: 24px;
    @include column;

    .fg-label {
        font-size: 15px;
        color: $Text;
        margin-bottom: 8px;
    }

    .text-danger {
        margin-top: 8px;
        color: #DA4B1E;
        font-size: 14px;
    }

    .radio {
        display: flex;
        margin: 6px 0 6px auto;
    }

    textarea {
        resize: vertical;
        transition-property: border-color;
        margin-bottom: 0;
        min-height: 28px;
        height: 72px;
    }

    input[type=color] {
        padding: 0 2px;
        width: 48px;
        border: dashed 1px #aaa;
        height: 32px;
        @include border-def-radius;
    }

    .dl-label {
        color: $text-3;
        font-size: 13px;
    }

    .dl-data {
        margin-top: 4px;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        color: $Text;
        font-size: 17px;
    }
}

.comp-upload {
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    background: $mat-background;
    padding: 16px;
    color: $text-4;
    text-align: center;
    border: dashed 2px $border-def-color;
    cursor: pointer;
    @include border-def-radius;
    @include trans;

    input {
        height: 0;
        width: 0;
        opacity: 0;
        position: absolute;
    }
}

.comp-upload:hover{
    border: dashed 2px $primary;
}


.fg-col:last-child {
    margin-bottom: 6px;
}

.fg-required {
    .fg-label:before {
        content: "*";
        color: $danger;
        font-size: 16px;
    }
}

.form {
    $padding: 16px;
    @include mat;

    &-header {
        padding: $padding;
        border-bottom: solid $border-def-color 1px;
        position: relative;
        z-index: 20 !important;
        font-size: $title-fontsize;
    }

    &-search {
        padding: 0;
        @include row-reverse;
        margin-bottom: 0;
        background-color: #fff;
        position: relative;
        z-index: 19 !important;

        .controls-grid {
            @include grid-gap(200px,0);
            flex: 1;
            direction: rtl;

            * {
                direction: ltr;
            }

            .entry {
                min-width: 160px;
                direction: rtl;
                -moz-border-radius: 0 !important;
                -webkit-border-radius: 0 !important;
                border-radius: 0 !important;
            }

            .fg-label {
                font-size: 13px;
            }

            > * {
                border-left: 1px $border-def-color solid !important;
                border-bottom: 1px $border-def-color solid;
            }
        }

        .entry {
            border: 0;
            border-bottom: 1px $border-def-color solid;
        }

        .entry:hover, .entry:focus, .col:hover, .col:focus {
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            background-color: #f8f8f8;
        }

        .col {
            @include trans(.2s);

            .fg-label {
                margin: 8px;
                margin-left: auto;
            }
        }
    }

    .form-search + .form-body {
        margin-top: -1px;
        border-top: solid $border-def-color 1px;
    }

    &-body {
        padding: $padding;
        @include column;
    }

    &-footer {
        border-top: solid #e5e5e5 1px;
        padding: $padding;
        @include row-reverse;
        grid-gap: 12px;
    }
}

.sticked {
    background-color: #fff;
    z-index: 20;
    border-top: 1px $border-def-color solid;
}

/*#endregion */
$aside-width: 72px;
$header-height: 72px;
$content-padding: 16px;

.m-top {
    @include row;
    position: fixed;
    left: 0;
    right: 0;
    height: $header-height;
    z-index: 1020;

    .m-logo {
        background-color: white;
        height: $header-height;
        width: $aside-width + 4;
        min-width: $aside-width;
        @include trans(.29s);

        a {
            height: 100%;
            width: 100%;
            display: flex;

            img {
                height: 48px;
                width: 48px;
                margin: auto
            }
        }
    }

    .m-header {
        $inner-margin: 8px;
        $outer-margin: 12px;

        width: 100%;
        height: $header-height;
        background-color: #fff;
        @include shadow-mild;
        @include row;
        grid-gap: 0 $outer-margin;
        padding: 0 $outer-margin;

        .left {
            margin: auto auto auto 0;
            @include row;
            grid-gap: $outer-margin;

            svg {
                height: 20px;
                width: 20px;
            }

            .user {
                @include row;
                padding-left: 6px;

                img {
                    @include obj;
                    width: 48px;
                    height: 48px;
                    @include border-circle;
                    margin: auto 0;
                    margin-right: $inner-margin;
                }

                > .uk-icon {
                    margin: auto 0;
                    color: #999;
                }

                .column {
                    margin: auto 0;
                    margin-right: $inner-margin;

                    h6 {
                        color: #555;
                        font-size: 14px;
                    }

                    span {
                        color: #aaa;
                        font-size: 11px;
                    }
                }
            }

            .vertical-divider {
                margin: 4px 0;
                height: calc($header-height - 8px);
                width: 1px;
                background-color: #ddd;
            }

            .quick-actions {
                @include row;

                svg {
                    color: #999;
                }

                .btn-icon {
                    margin: auto 4px auto 0 !important;
                    height: 40px;
                }

                .btn-icon:last-child {
                    margin: auto 0 auto 0;
                }

                .notification-drop {
                    min-width: 280px;

                    .dropdown-list {
                        a {
                            span {
                                direction: rtl;
                                max-width: 260px;
                                overflow: hidden;
                                font-size: 14px;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                            }

                            span.new:before {
                                content: '●';
                                color: red;
                            }
                        }
                    }
                }
            }
        }

        .right {
            margin: auto 0 auto auto;
            flex: auto;

            .hamburger {
                display: none;
            }
        }
    }
}

.m-aside {
    height: 100%;
    width: $aside-width;
    background-color: #373B53;
    top: $header-height;
    right: 0;
    z-index: 1020;
    position: fixed;
    @include subtle-glow(transparentize(#373B53,.32));
    @include trans(.32s);
    -moz-transition-property: width;
    -o-transition-property: width;
    -webkit-transition-property: width;
    transition-property: width;
    overflow-x: hidden;

    .navigation {
        $item-height: $aside-width;
        margin: 0;
        max-height: calc(100vh - #{$nav-bottom-height});
        overflow: auto !important;

        li {
            @include column;
            height: auto;
            cursor: pointer !important;
            overflow-x: hidden;

            a {
                @include row-reverse;
                @include trans(.2s);
                height: $item-height;
                cursor: pointer;

                .uk-icon {
                    color: #fff;
                    margin: auto;
                    margin-right: 24px !important;
                    min-height: 24px;
                    min-width: 24px;
                }

                label {
                    width: 0;
                    margin: auto 0;
                    margin-right: 100px;
                    font-size: 14px;
                    opacity: 0;
                    //
                    color: #fff;
                    white-space: nowrap;
                    @include trans(.3s);
                    pointer-events: none;
                }
            }

            a:hover {
                background-color: transparentize(#fff,.85);
            }
        }

        [accordion] {
            position: relative;
            background-color: #2F3246;

            ul {
                display: flex;
                margin: 0;
                overflow: hidden;
                @include trans(.48s);
                @include column;
                max-height: 0;
                -moz-transition-timing-function: ease-out;
                -o-transition-timing-function: ease-out;
                -webkit-transition-timing-function: ease-out;
                transition-timing-function: ease-out;

                * {
                    @include trans(.2s);
                    opacity: 0;
                }

                a {
                    padding-right: 20px;
                }
            }

            ul.open {
                max-height: 200px;
                background-color: transparentize(#000,.92);

                * {
                    opacity: 1;
                }
            }
        }

        [accordion-trigger]:before {
            content: " ";
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: #fff;
            width: 3px;
        }
    }

    ::-webkit-scrollbar {
        display: none;
    }
}

.m-aside:hover, .m-aside:focus {
    width: $aside-width + 150px;

    .navigation {
        li {
            cursor: pointer;

            a {
                .uk-icon {
                    margin: auto auto auto 8px;
                    cursor: pointer;
                }

                label {
                    cursor: pointer;
                    width: $aside-width + 150px;
                    height: auto;
                    margin: auto 0px auto auto;
                    opacity: 1;
                }
            }
        }
    }
}

.m-content {
    min-height: calc(100vh - 165px);
    height: 100%;
    margin-right: $aside-width;
    margin-top: $header-height;
    padding: $content-padding;
    background: $Background;
}

@media only screen and (max-width: 512px) {
    $aside-width: 72px;
    $header-height: 72px;
    $content-padding: 16px;

    .m-top {

        .m-logo {
            display: none !important;
        }

        .m-header {
            $inner-margin: 6px;
            $outer-margin: 8px;
            padding: 0 8px;
            -moz-column-gap: 4px;
            -ms-column-gap: 4px;
            -webkit-column-gap: 4px;
            column-gap: 4px;

            .left {
                margin: auto auto auto 0;
                grid-gap: $outer-margin;

                svg {
                    height: 20px;
                    width: 20px;
                }

                .user {
                    @include row;
                    padding-left: 6px;

                    img {
                        @include obj;
                        width: 42px;
                        height: 42px;
                        @include border-circle;
                        margin: auto 0;
                        margin-right: $inner-margin;
                    }

                    .column {
                        margin: auto 0;
                        margin-right: $inner-margin;

                        h6 {
                            color: #555;
                            font-size: 12px;
                        }

                        span {
                            color: #aaa;
                            font-size: 10px;
                        }
                    }
                }

                .vertical-divider {
                    display: none;
                }

                .quick-actions {
                    @include row;


                    svg {
                        color: #999;
                    }

                    .btn-icon {
                        margin: 0;
                    }

                    .btn-icon:last-child {
                        margin: 0;
                    }

                    .notification-drop {
                        min-width: 280px;
                        max-width: 310px;

                        .dropdown-list {
                            a {
                                span {
                                    direction: rtl;
                                    max-width: 280px;
                                    overflow: hidden;
                                    font-size: 14px;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                }

                                span.new:before {
                                    content: '●';
                                    color: red;
                                }
                            }
                        }
                    }
                }
            }

            .right {
                margin: 0;
                flex: 0;
                @include column;
                justify-content: center;

                .hamburger {
                    display: flex !important;
                }
            }
        }
    }

    .m-aside {
        width: $aside-width + 150px;
        margin-right: -222px;

        .navigation {
            li {
                cursor: pointer;

                a {
                    .uk-icon {
                        margin: auto auto auto 8px;
                        cursor: pointer;
                    }

                    label {
                        cursor: pointer;
                        width: $aside-width + 150px;
                        height: auto;
                        margin: auto 0px auto auto;
                        opacity: 1;
                    }
                }
            }
        }
    }

    .m-aside:hover {
        width: $aside-width + 150px;

        .navigation {
            li {
                cursor: pointer;

                a {
                    .uk-icon {
                        margin: auto auto auto 8px;
                        cursor: pointer;
                    }

                    label {
                        cursor: pointer;
                        width: $aside-width + 60px;
                        height: auto;
                        margin: auto 0px auto auto;
                        opacity: 1;
                    }
                }
            }
        }
    }

    .m-content {
        min-height: calc(100vh - 165px);
        height: 100%;
        margin-right: 0;
        margin-top: $header-height;
        padding: $content-padding;
        background: $Background;
    }
}

$between-card-margin: 20px;

$card-padding: 16px;

.card {
    @include mat;
    @include shadow-medium;
    padding: $card-padding;
}

.card-padding {
    padding: $card-padding;
}

.card-mat {
    @include mat;
}

.card-shadow {
    @include shadow-medium;
}

.card-title {
    color: $text-2;
    font-size: $title-fontsize;
}

.card-subtitle {
    color: $text-3;
    font-size: 14px;
    margin-top: 5px;
}

/*#region tbl */

$background-odd: #f9f9f9;
$background-highlight: #eee;

.scrollh-container {
    overflow-x: auto !important;
    overflow-y: hidden !important;
}

.tbl {
    direction: rtl;
    border-spacing: 0;
    width: 100%;

    .dropdown {
        .rowr {
            justify-content: flex-end;

            span:last-child {
                margin-left: 8px;
            }
        }
    }

    .actions {
        width: 48px !important;

        * {
            margin: auto 0;
        }
    }

    td:first-child, th:first-child {
        min-width: 28px !important;
        width: 28px !important;
        background-color: transparentize(darken($primary-light,8%),.96);
    }

    td, th {
        height: 48px;
        padding: 0 20px;
        min-width: 150px;
    }

    tbody {

        tr {
            width: 100%;
            @include trans(.4s);
        }

        tr:nth-child(2n+1) {
            background-color: $background-odd;
        }

        tr:hover {
            background-color: $background-highlight;
            @include trans(.1s);
        }
    }

    .btn-link:hover {
        background-color: transparent;
    }

    .btn-link:active {
        color: darken($primary-dark,18%);
    }
}

/*#endregion */

.bg-white {
    background-color: #fff;
}

.text-1 {
    color: $text-1
}

.text-2 {
    color: $text-2
}

.text-3 {
    color: $text-3
}

.text-4 {
    color: $text-4
}

.text-5 {
    color: $text-5
}

.text-6 {
    color: $text-6
}

@for $var from 3 to 51 {
    .grid-#{($var * 10)} {
        @include grid(#{$var * 10}px);
        direction: rtl;

        * {
            direction: ltr;
            text-align: right;
        }

        .fg-col {
            margin-bottom: 0;
        }
    }
}

.footer {
    background-color: #fff;
    @include shadow-medium;
    height: 60px;
    width: 100vw;
    border-top: 1px solid $border-def-color;
    position: relative;
    z-index: 200;
}

/* ACTIVITY CARD */
.activity {

    .header {
        @include column;
        border-bottom: $border-def-color 1px solid;

        .title {
            color: $text-2;
            font-size: 20px;
        }

        .subtitle {
            color: $text-3;
            font-size: 14px;
            margin-top: 4px;
        }
    }

    .body {
        position: relative;
        grid-gap: 24px;
        @include column;

        .line {
            display: block;
            position: absolute;
            right: 77px;
            top: 20px;
            bottom: 20px;
            width: 4.5px;
            height: auto;
            background-color: #ddd;
        }

        .item {
            @include row-reverse;
            grid-gap: 8px;

            .time {
                font-weight: 500;
                color: $text-1;
                width: 44px;
                min-width: 44px;
                font-size: 14px;
                @include border-circle;
                text-align: center;
            }

            .badge {
                @include border-circle;
                background-color: #bbb;
                position: relative;
                z-index: 5;
                height: 16px;
                width: 16px;
                min-width: 16px;
                border: 3px solid #fff;
                margin: auto 0;
            }

            .text {
                color: $text-3;
                margin: 0;
                padding: 0;
                @include max-line(1);
            }
        }

        .item.red .badge {
            background-color: $red;
        }

        .item.green .badge {
            background-color: $green;
        }

        .item.blue .badge {
            background-color: $blue;
        }

        .item.yellow .badge {
            background-color: $yellow;
        }

        .item.purple .badge {
            background-color: $purple;
        }
    }
}

.icon-list-item {
    @include row-reverse;
    grid-gap: 8px;

    img {
        width: 48px;
        height: 48px;
    }

    .col {
        label {
            font-size: 16px;
            color: $text-2;
        }

        span {
            font-size: 14px;
            color: $text-4;
        }
    }

    a {
        display: block;
        margin: auto 0;
        margin-right: auto;
        @include border-circle;
    }
}

.btn {
    .uk-icon {
        display: flex;
        -ms-align-content: center;
        -webkit-align-content: center;
        align-content: center;
        -webkit-align-items: center;
        align-items: center;
    }
}

.uk-icon.tiny svg {
    width: 16px !important;
    height: 16px !important;
    margin: 1px;
}

.uk-icon.small svg {
    width: 20px !important;
    height: 20px !important;
}

.uk-icon.medium svg {
    width: 24px !important;
    height: 24px !important;
}

[preview] {
    cursor: pointer;
    @include obj;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    input[type=file] {
        width: 0;
        height: 0;
        flex: 0;
        max-height: 0;
        max-width: 0;
        visibility: collapse;
        background-color: red;
    }
}

.profile-image {
    width: 92px;
    height: 92px;
    background-color: #eee;
    @include border-circle;
}


[gauge] {
    position: relative;

    .gauge {

        .gauge-progress {
            @include trans(.7s);
            transition-timing-function: ease-in-out;
            stroke: $primary;
            stroke-linecap: round;
            fill: transparent;
            transform-origin: center;
            transform: rotate(-90deg);
        }

        .gauge-background {
            stroke: transparentize($primary-light,.72);
            fill: transparent;
        }
    }

    .gauge-content {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;

        .gauge-percent {
            margin: auto;
        }
    }
}

.previewDrop {
    background-color: transparentize($blue-light,.72);
    min-height: 35px;
    @include border-radius(5px,5px,5px,5px);
    pointer-events: none;
}

.round {
    @include border-circle;
}

.dropdown {
    background: #fff;
    padding: 0;
    @include shadow-medium;
    @include border-def-radius;
    border: 1px #dfdfdf solid;

    .dropdown-list {
        @include column;
        margin-bottom: 0;

        li {
            @include trans(.2s);

            a {
                padding: 10px 12px;
                color: lighten($Text,12%);
                height: 100%;
            }

            a, span {
                white-space: nowrap !important;
            }
        }

        li:hover {
            background-color: transparentize(#000,0.94);
        }

        li:active {
            background-color: transparentize(#000,0.86);
            @include trans(0s);
        }
    }
}

.timeline {
    $annotation-width: 128px;
    $block-width: 52px;
    $block-height: 28px;
    @include column;
    border: $border-def;

    .timeline-header {
        @include row-reverse;
        border-bottom: $border-def;

        .timeline-empty {
            width: $annotation-width;
            height: $block-height;
            border-left: $border-def;
        }

        .timeline-timestamps {
            @include row-reverse;
            height: $block-height;

            .timeline-timestamp {
                width: $block-width;
                height: $block-height;
                line-height: $block-height;
                border-left: $border-def;
                counter-increment: test;
                align-content: center;
                justify-content: center;
                text-align: center;
            }
        }
    }

    .timeline-body {
        @include column;

        .timeline-row {
            @include row-reverse;
            border-bottom: $border-def;

            .timeline-annotation {
                width: $annotation-width;
                height: $block-height;
                border-left: $border-def;
            }

            .timeline-blocks {
                @include row-reverse;
                height: $block-height;

                .timeline-block {
                    width: $block-width;
                    height: $block-height;
                    border-left: $border-def;
                }

                .timeline-block:last-child {
                    border-left: 0;
                }
            }
        }

        .timeline-row:last-child {
            border-bottom: 0;
        }
    }
}


.popconfirm {
    @include mat;
    padding: 0;
    border: 0;
    $padding: 12px;
    position: absolute;
    z-index: 1040;
    min-width: 256px;
    max-width: 300px;
    $color: transparentize(#000,.92);
    -moz-box-shadow: 0 4px 24px 6px $color;
    -webkit-box-shadow: 0 4px 24px 6px $color;
    box-shadow: 0 4px 24px 6px $color;

    * {
        position: relative;
        z-index: 1040;
    }

    .popconfirm-header {
        padding: $padding;
        padding-bottom: $padding;
        color: $text-2;
        font-size: 15px;
    }

    .popconfirm-body {
        padding: 0px $padding;
        padding-bottom: 12px;
        direction: rtl;

        .popconfirm-description {
            margin: 0;
            padding: 0;
            display: inline;
            font-size: 14px;
            color: $text-3;
        }
    }

    .popconfirm-footer {
        @include row-reverse;
        padding: $padding;

        .popconfirm-btn {
            @include border-def-radius;
            min-width: 64px;
            outline: 0;
            font-size: 13px;
            text-align: center;
            padding: 1px 4px;
            height: 28px;
            @include trans(.2s);
        }

        *:first-child {
            margin-left: 12px;
        }
    }
}

.popconfirm-arrow {
    z-index: 1038;
    position: absolute;
    content: ' ';
    display: block;
    width: 22px;
    height: 22px;
    transform-origin: center;
    transform: rotate(45deg);
    background-color: white;
    @include border-def-radius;
}

.justify-center {
    -webkit-justify-content: center;
    justify-content: center;
}

.align-items-center {
    -webkit-align-items: center;
    align-items: center;
}

.align-content-center {
    -ms-align-content: center;
    -webkit-align-content: center;
    align-content: center;
}

.place-center {
    display: grid;
    place-items: center;
}
