@{
    ViewData["Title"] = "Home page";
    ViewData["Description"] = "Home page";
    ViewData["Keywords"] = "Home page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="form">
    <div class="form-header">
        <h3>
            اضافه کردن
        </h3>
    </div>
    <div class="form-body">

        <!-- Form Body / Controls at #001 -->
        <div class="fg-col ">
            <label class="fg-label" id="I-1584-1599-1580-1584O">text</label>
            <input class="entry" id="I-1584-1599-1580-1584O" type="text" placeholder="text" pattern="/[0-9]{11}/">
            <span class="text-danger"></span>
        </div>

    </div>
    <div class="form-footer">
        <button class="btn btn-primary">اضافه</button>
    </div>
</form>
