@{
    ViewData["Title"] = "Hub";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col gap-3">
    <a href="/User" class="btn btn-primary">
        <span>User</span>
    </a>
    <a href="/Admin" class="btn btn-dashed">
        <span>Admin</span>
    </a>
</div>