@{
    ViewData["Title"] = "کانفیگ وبسایت";
    Layout = "~/Areas/Admin/Views/_AdminLayout.cshtml";
}

<div class="form-builder">
    <aside class="toolbox card-mat col ">
        <div class="form-header uk-padding-remove">
            <div class="rowr">
                <input type="text" class="flex-auto entry-invis" placeholder="جستجو..." />
                <button class="btn-icon">
                    <span uk-icon="search"></span>
                </button>
            </div>
        </div>
        <div class="form-body gap-3 col" id="toolbox"
             uk-sortable="group:form;handle: .tool-actions; cls-item:grabbable; cls-custom: tool-grabbed">
            <!--01-->
            <div class="grabbable">
                <div tool="text" class="tool">
                    <header class="tool-actions">
                        <button btnSettings class="cell-btn" uk-icon="cog"></button>
                        <button btnDelete class="cell-btn" uk-icon="trash"></button>
                        <label class="name">متن و نوشته</label>
                    </header>
                    <form option-list style="display:none" class="tool-options">
                        <div option="">
                            <label option-name class="option-name">تیتر</label>
                            <input type="text" class="cell-entry" value="" />
                        </div>
                        <div option="">
                            <label option-name class="option-name">پلیس هولدر</label>
                            <input type="text" class="cell-entry" value="" />
                        </div>
                        <div option="">
                            <label option-name class="option-name">ضرورت</label>
                            <label class="cell-checkbox-group">
                                <span>ضروری است</span>
                                <input type="checkbox" />
                            </label>
                        </div>
                        <div regex-list>
                            <select class="cell-select">
                                <option>قوانین ولیدیشن</option>
                                <option>موز</option>
                                <option>سیب</option>
                                <option>گلابی</option>
                                <option>هویچ</option>
                            </select>
                            <div class="regex-list">
                                <div class="regex-item">
                                    <label regex class="cell-label">موز</label>
                                    <button class="cell-btn" uk-icon="times"></button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="tool-content">
                        <div class="fg-col">
                            <label class="fg-label">نام و نام خانوادگی</label>
                            <input type="text" class="entry" value="" />
                        </div>
                    </div>
                </div>
            </div>
            <!--14-->
            <div class="grabbable">
                <div tool="tel" class="tool">
                    <header class="tool-actions">
                        <button btnSettings class="cell-btn" uk-icon="cog"></button>
                        <button btnDelete class="cell-btn" uk-icon="trash"></button>
                        <label class="name">شماره تلفن</label>
                    </header>
                    <form option-list style="display:none" class="tool-options">
                        <div option="">
                            <label option-name class="option-name">تیتر</label>
                            <input type="text" class="cell-entry" value="" />
                        </div>
                        <div option="">
                            <label option-name class="option-name">پلیس هولدر</label>
                            <input type="text" class="cell-entry" value="" />
                        </div>
                        <div option="">
                            <label option-name class="option-name">ضرورت</label>
                            <label class="cell-checkbox-group">
                                <span>ضروری است</span>
                                <input type="checkbox" />
                            </label>
                        </div>
                    </form>
                    <div class="tool-content">
                        <div class="fg-col">
                            <label class="fg-label">شماره تلفن</label>
                            <input type="tel" class="entry" value="" />
                        </div>
                    </div>
                </div>
            </div>
            <!--12-->
            <div class="grabbable">
                <div tool="number" class="tool">
                    <header class="tool-actions">
                        <button btnSettings class="cell-btn" uk-icon="cog"></button>
                        <button btnDelete class="cell-btn" uk-icon="trash"></button>
                        <label class="name">عدد</label>
                    </header>
                    <form option-list style="display:none" class="tool-options">
                        <div option="">
                            <label option-name class="option-name">تیتر</label>
                            <input type="text" class="cell-entry" value="" />
                        </div>
                        <div option="">
                            <label option-name class="option-name">پلیس هولدر</label>
                            <input type="text" class="cell-entry" value="" />
                        </div>
                        <div option="">
                            <label option-name class="option-name">ضرورت</label>
                            <label class="cell-checkbox-group">
                                <span>ضروری است</span>
                                <input type="checkbox" />
                            </label>
                        </div>
                    </form>
                    <div class="tool-content">
                        <div class="fg-col">
                            <label class="fg-label">کد ملی</label>
                            <input type="number" class="entry" value="" />
                        </div>
                    </div>
                </div>
            </div>
            <!--13-->
            <div class="grabbable">
                <div tool="password" class="tool">
                    <header class="tool-actions">
                        <button btnSettings class="cell-btn" uk-icon="cog"></button>
                        <button btnDelete class="cell-btn" uk-icon="trash"></button>
                        <label class="name">گذرواژه</label>
                    </header>
                    <form option-list style="display:none" class="tool-options">
                        <div option="">
                            <label option-name class="option-name">تیتر</label>
                            <input type="text" class="cell-entry" value="" />
                        </div>
                        <div option="">
                            <label option-name class="option-name">پلیس هولدر</label>
                            <input type="text" class="cell-entry" value="" />
                        </div>
                        <div option="">
                            <label option-name class="option-name">ضرورت</label>
                            <label class="cell-checkbox-group">
                                <span>ضروری است</span>
                                <input type="checkbox" />
                            </label>
                        </div>
                    </form>
                    <div class="tool-content">
                        <div class="fg-col">
                            <label class="fg-label">رمز عبور</label>
                            <input type="password" class="entry" value="" />
                        </div>
                    </div>
                </div>
            </div>
            <!--03-->
            <div class="grabbable">
                <div tool="url" class="tool">
                    <header class="tool-actions">
                        <button btnSettings class="cell-btn" uk-icon="cog"></button>
                        <button btnDelete class="cell-btn" uk-icon="trash"></button>
                        <label class="name">لینک و یوآرال</label>
                    </header>
                    <form option-list style="display:none" class="tool-options">
                        <div option="">
                            <label option-name class="option-name">تیتر</label>
                            <input type="url" class="cell-entry" value="" />
                        </div>
                        <div option="">
                            <label option-name class="option-name">پلیس هولدر</label>
                            <input type="text" class="cell-entry" value="" />
                        </div>
                        <div option="">
                            <label option-name class="option-name">ضرورت</label>
                            <label class="cell-checkbox-group">
                                <span>ضروری است</span>
                                <input type="checkbox" />
                            </label>
                        </div>
                        <div regex-list>
                            <select class="cell-select">
                                <option>قوانین ولیدیشن</option>
                                <option>موز</option>
                                <option>سیب</option>
                                <option>گلابی</option>
                                <option>هویچ</option>
                            </select>
                            <div class="regex-list">
                                <div class="regex-item">
                                    <label regex class="cell-label">موز</label>
                                    <button class="cell-btn" uk-icon="times"></button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="tool-content">
                        <div class="fg-col">
                            <label class="fg-label">لینک وبسایت</label>
                            <input type="text" class="entry" value="" />
                        </div>
                    </div>
                </div>
            </div>
            <!--04-->
            <div class="grabbable">
                <div tool="week" class="tool">
                    <header class="tool-actions">
                        <button btnSettings class="cell-btn" uk-icon="cog"></button>
                        <button btnDelete class="cell-btn" uk-icon="trash"></button>
                        <label class="name">هفته</label>
                    </header>
                    <form option-list style="display:none" class="tool-options">
                        <div option="">
                            <label option-name class="option-name">تیتر</label>
                            <input type="text" class="cell-entry" value="" />
                        </div>
                        <div option="">
                            <label option-name class="option-name">ضرورت</label>
                            <label class="cell-checkbox-group">
                                <span>ضروری است</span>
                                <input type="checkbox" />
                            </label>
                        </div>
                    </form>
                    <div class="tool-content">
                        <div class="fg-col">
                            <label class="fg-label">هفته شروع</label>
                            <input type="week" class="entry" value="" />
                        </div>
                    </div>
                </div>
            </div>
            <!--05-->
            <div class="grabbable">
                <div tool="textarea" class="tool">
                    <header class="tool-actions">
                        <button btnSettings class="cell-btn" uk-icon="cog"></button>
                        <button btnDelete class="cell-btn" uk-icon="trash"></button>
                        <label class="name">متن طولانی</label>
                    </header>
                    <form option-list style="display:none" class="tool-options">
                        <div option="">
                            <label option-name class="option-name">تیتر</label>
                            <input type="text" class="cell-entry" value="" />
                        </div>
                        <div option="">
                            <label option-name class="option-name">پلیس هولدر</label>
                            <input type="text" class="cell-entry" value="" />
                        </div>
                        <div option="">
                            <label option-name class="option-name">ضرورت</label>
                            <label class="cell-checkbox-group">
                                <span>ضروری است</span>
                                <input type="checkbox" />
                            </label>
                        </div>
                        <div regex-list>
                            <select class="cell-select">
                                <option>قوانین ولیدیشن</option>
                                <option>موز</option>
                                <option>سیب</option>
                                <option>گلابی</option>
                                <option>هویچ</option>
                            </select>
                            <div class="regex-list">
                                <div class="regex-item">
                                    <label regex class="cell-label">موز</label>
                                    <button class="cell-btn" uk-icon="times"></button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="tool-content">
                        <div class="fg-col">
                            <label class="fg-label">توضیحات</label>
                            <textarea class="entry"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <!--06-->
            <div class="grabbable">
                <div tool="checkbox" class="tool">
                    <header class="tool-actions">
                        <button btnSettings class="cell-btn" uk-icon="cog"></button>
                        <button btnDelete class="cell-btn" uk-icon="trash"></button>
                        <label class="name">چک باکس</label>
                    </header>
                    <form option-list style="display:none" class="tool-options">
                        <div option="">
                            <label option-name class="option-name">تیتر</label>
                            <input type="text" class="cell-entry" value="" />
                        </div>
                    </form>
                    <div class="tool-content">
                        <div class="fg-col">
                            <label class="row uk-margin-auto-left">
                                <span>موافق می باشم</span>
                                <input class="uk-checkbox" type="checkbox" />
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <!--07-->
            <div class="grabbable">
                <div tool="color" class="tool">
                    <header class="tool-actions">
                        <button btnSettings class="cell-btn" uk-icon="cog"></button>
                        <button btnDelete class="cell-btn" uk-icon="trash"></button>
                        <label class="name">رنگ</label>
                    </header>
                    <form option-list style="display:none" class="tool-options">
                        <div option="">
                            <label option-name class="option-name">تیتر</label>
                            <input type="text" class="cell-entry" value="" />
                        </div>
                    </form>
                    <div class="tool-content">
                        <div class="fg-col">
                            <label class="cell-checkbox-group">
                                <span>چک باکس</span>
                                <input type="color" />
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <!--08-->
            <div class="grabbable">
                <div tool="date" class="tool">
                    <header class="tool-actions">
                        <button btnSettings class="cell-btn" uk-icon="cog"></button>
                        <button btnDelete class="cell-btn" uk-icon="trash"></button>
                        <label class="name">تاریخ</label>
                    </header>
                    <form option-list style="display:none" class="tool-options">
                        <div option="">
                            <label option-name class="option-name">تیتر</label>
                            <input type="text" class="cell-entry" value="" />
                        </div>
                        <div option="">
                            <label option-name class="option-name">پلیس هولدر</label>
                            <input type="text" class="cell-entry" value="" />
                        </div>
                        <div option="">
                            <label option-name class="option-name">ضرورت</label>
                            <label class="cell-checkbox-group">
                                <span>ضروری است</span>
                                <input type="checkbox" />
                            </label>
                        </div>
                    </form>
                    <div class="tool-content">
                        <div class="fg-col">
                            <label class="fg-label">تاریخ تولد</label>
                            <input type="date" class="entry" value="" />
                        </div>
                    </div>
                </div>
            </div>
            <!--09-->
            <div class="grabbable">
                <div tool="dateTime" class="tool">
                    <header class="tool-actions">
                        <button btnSettings class="cell-btn" uk-icon="cog"></button>
                        <button btnDelete class="cell-btn" uk-icon="trash"></button>
                        <label class="name">تاریخ و زمان</label>
                    </header>
                    <form option-list style="display:none" class="tool-options">
                        <div option="">
                            <label option-name class="option-name">تیتر</label>
                            <input type="text" class="cell-entry" value="" />
                        </div>
                        <div option="">
                            <label option-name class="option-name">پلیس هولدر</label>
                            <input type="text" class="cell-entry" value="" />
                        </div>
                        <div option="">
                            <label option-name class="option-name">ضرورت</label>
                            <label class="cell-checkbox-group">
                                <span>ضروری است</span>
                                <input type="checkbox" />
                            </label>
                        </div>
                    </form>
                    <div class="tool-content">
                        <div class="fg-col">
                            <label class="fg-label">زمان جلسه</label>
                            <input type="dateTime" class="entry" value="" />
                        </div>
                    </div>
                </div>
            </div>
            <!--10-->
            <div class="grabbable">
                <div tool="email" class="tool">
                    <header class="tool-actions">
                        <button btnSettings class="cell-btn" uk-icon="cog"></button>
                        <button btnDelete class="cell-btn" uk-icon="trash"></button>
                        <label class="name">ایمیل</label>
                    </header>
                    <form option-list style="display:none" class="tool-options">
                        <div option="">
                            <label option-name class="option-name">تیتر</label>
                            <input type="text" class="cell-entry" value="" />
                        </div>
                        <div option="">
                            <label option-name class="option-name">پلیس هولدر</label>
                            <input type="text" class="cell-entry" value="" />
                        </div>
                        <div option="">
                            <label option-name class="option-name">ضرورت</label>
                            <label class="cell-checkbox-group">
                                <span>ضروری است</span>
                                <input type="checkbox" />
                            </label>
                        </div>
                    </form>
                    <div class="tool-content">
                        <div class="fg-col">
                            <label class="fg-label">پست الکترونیکی</label>
                            <input type="email" class="entry" value="" />
                        </div>
                    </div>
                </div>
            </div>
            <!--11-->
            <div class="grabbable">
                <div tool="month" class="tool">
                    <header class="tool-actions">
                        <button btnSettings class="cell-btn" uk-icon="cog"></button>
                        <button btnDelete class="cell-btn" uk-icon="trash"></button>
                        <label class="name">ماه</label>
                    </header>
                    <form option-list style="display:none" class="tool-options">
                        <div option="">
                            <label option-name class="option-name">تیتر</label>
                            <input type="text" class="cell-entry" value="" />
                        </div>
                        <div option="">
                            <label option-name class="option-name">پلیس هولدر</label>
                            <input type="text" class="cell-entry" value="" />
                        </div>
                        <div option="">
                            <label option-name class="option-name">ضرورت</label>
                            <label class="cell-checkbox-group">
                                <span>ضروری است</span>
                                <input type="checkbox" />
                            </label>
                        </div>
                    </form>
                    <div class="tool-content">
                        <div class="fg-col">
                            <label class="fg-label">ماه</label>
                            <input type="month" class="entry" value="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </aside>
    <div class="toolbox-placeholder" role="none"></div>
    <div class="prototype form">
        <div class="form-header">
            <h3>فرم جدید</h3>
        </div>
        <div class="form-body gap-3"
             id="prototype"
             draggable="true"
             uk-sortable="group:form;handle: .tool-actions; cls-item:grabbable; cls-custom: tool-grabbed">

        </div>
        <div class="form-footer">
            <div class="actions">
                <button class="btn btn-primary">
                    <span>تایید</span>
                </button>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script>
        require(['config'], function () {
            require(['builder'], function () {

            })
        });
    </script>

}


@*<div tool="text" class="tool">
        <header class="tool-actions">
            <button btnSettings class="cell-btn" uk-icon="cog"></button>
            <button btnDelete class="cell-btn" uk-icon="trash"></button>
            <label class="name">متن</label>
        </header>
        <form option-list style="display:none" class="tool-options">
            <div option="">
                <label option-name class="option-name">نام</label>
                <input type="text" class="cell-entry" value="" />
            </div>
            <div option="">
                <label option-name class="option-name">پلیس هولدر</label>
                <input type="text" class="cell-entry" value="" />
            </div>
            <div option="">
                <label option-name class="option-name">انتخاب</label>
                <select class="cell-select">
                    <option>موز</option>
                    <option>سیب</option>
                    <option>گلابی</option>
                    <option>هویچ</option>
                </select>
            </div>
            <div option="">
                <label option-name class="option-name">ضرورت</label>
                <label class="cell-checkbox-group">
                    <span>ضروری است</span>
                    <input type="checkbox" />
                </label>
            </div>
            <div regex-list>
                <select class="cell-select">
                    <option>قوانین ولیدیشن</option>
                    <option>موز</option>
                    <option>سیب</option>
                    <option>گلابی</option>
                    <option>هویچ</option>
                </select>
                <div class="regex-list">
                    <div class="regex-item">
                        <label regex class="cell-label">موز</label>
                        <button class="cell-btn" uk-icon="times"></button>
                    </div>
                </div>
            </div>
        </form>
        <div class="tool-content">
            <div class="fg-col">
                <label class="fg-label">نام و نام خانوادگی</label>
                <input type="text" class="entry" value="" />
            </div>
        </div>
    </div>*@