@{
    ViewData["Title"] = "نام بخش";
    Layout = "~/Areas/User/Views/_UserLayout.cshtml";
}

<div class="headline">
    <h3>
        نام بخش
    </h3>
    <hr />
</div>

<div class="forms">
    <partial name="_FormBlock" />
    <partial name="_FormBlock" />
    <partial name="_FormBlock" />
    <partial name="_FormBlock" />
    <partial name="_FormBlock" />
    <partial name="_FormBlock" />
</div>