@model TblPage
@{
    ViewData["Title"] = Model.Name;
    Layout = "~/Areas/User/Views/_UserLayout.cshtml";
}

<div class="headline">
    <h3>
        نام بخش
    </h3>
    <hr />
</div>

<div class="forms">
    @foreach (var item in Model.TblPageFormRel)
    {
        <partial name="_FormBlock" model="item.Form"/>
    }

</div>