@{
    ViewData["Title"] = "آپلود";
    Layout = "~/Areas/User/Views/_UserLayout.cshtml";
}

<div class="row">
    <label class="profile-image" style="background-image:url('/st/png/blue.png')" preview="">
        <input type="file" accept="image/png,image/jpg,image/jpeg,image/gif" value="" />
    </label>
</div>