/*Star*/
/*#region Material  */
/*#endregion */
/*
backdrop-filter: blur(2px);
backdrop-filter: brightness(60%);
backdrop-filter: contrast(40%);
backdrop-filter: drop-shadow(4px 4px 10px blue);
backdrop-filter: grayscale(30%);
backdrop-filter: hue-rotate(120deg);
backdrop-filter: invert(70%);
backdrop-filter: opacity(20%);
backdrop-filter: sepia(90%);
backdrop-filter: saturate(80%);
*/
/*#endregion */
/*#region Alignment */
.row {
  display: flex;
  flex-direction: row; }

.rowr {
  display: flex;
  flex-direction: row-reverse; }

.col {
  display: flex;
  flex-direction: column; }

.colr {
  display: flex;
  flex-direction: column-reverse; }

.flex-1 {
  flex: 1; }

.flex-2 {
  flex: 2; }

.flex-3 {
  flex: 3; }

.flex-4 {
  flex: 4; }

.flex-5 {
  flex: 5; }

.flex-6 {
  flex: 6; }

.flex-7 {
  flex: 7; }

.flex-8 {
  flex: 8; }

.flex-9 {
  flex: 9; }

.flex-10 {
  flex: 10; }

.flex-11 {
  flex: 11; }

.flex-auto {
  flex: auto; }

/*#endregion */
.counter-grid {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 12px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  direction: rtl; }
  .counter-grid > * {
    direction: ltr; }

.counter {
  display: flex;
  flex-direction: column;
  -moz-border-radius: 2px 2px 2px 2px;
  -webkit-border-radius: 2px 2px 2px 2px;
  border-radius: 2px 2px 2px 2px; }
  .counter .content {
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    grid-gap: 16px;
    padding: 20px 16px; }
    .counter .content img {
      width: 64px;
      height: 64px; }
    .counter .content .col {
      flex: auto; }
      .counter .content .col label {
        flex: 1;
        font-size: 20px;
        font-weight: 700; }
      .counter .content .col span {
        flex: 1; }

.counter-yellow {
  background-color: #FFF4DE;
  color: #FFA800;
  fill: #FFA800;
  border: solid 1px #FFDD9C; }

.counter-red {
  background-color: #FFE2E5;
  color: #F64E60;
  fill: #F64E60;
  border: solid 1px #FCB6BE; }

.counter-blue {
  background-color: #E1F0FF;
  color: #3699FF;
  fill: #3699FF;
  border: solid 1px #AED6FF; }

.counter-green {
  background-color: #C9F7F5;
  color: #1BC5BD;
  fill: #1BC5BD;
  border: solid 1px #95E8E4; }

.counter-purple {
  background-color: #EEE5FF;
  color: #BB9AFD;
  fill: #BB9AFD;
  border: solid 1px #D0B9FE; }

.counter-card {
  background-color: #fff;
  color: #333;
  fill: #333;
  border: 0; }
