@charset "UTF-8";
/*Star*/
/*#region Material  */
/*#endregion */
/*
backdrop-filter: blur(2px);
backdrop-filter: brightness(60%);
backdrop-filter: contrast(40%);
backdrop-filter: drop-shadow(4px 4px 10px blue);
backdrop-filter: grayscale(30%);
backdrop-filter: hue-rotate(120deg);
backdrop-filter: invert(70%);
backdrop-filter: opacity(20%);
backdrop-filter: sepia(90%);
backdrop-filter: saturate(80%);
*/
/*#endregion */
/*#region Alignment */
.row {
  display: flex;
  flex-direction: row; }

.rowr {
  display: flex;
  flex-direction: row-reverse; }

.col {
  display: flex;
  flex-direction: column; }

.colr {
  display: flex;
  flex-direction: column-reverse; }

.flex-1 {
  flex: 1; }

.flex-2 {
  flex: 2; }

.flex-3 {
  flex: 3; }

.flex-4 {
  flex: 4; }

.flex-5 {
  flex: 5; }

.flex-6 {
  flex: 6; }

.flex-7 {
  flex: 7; }

.flex-8 {
  flex: 8; }

.flex-9 {
  flex: 9; }

.flex-10 {
  flex: 10; }

.flex-11 {
  flex: 11; }

.flex-auto {
  flex: auto; }

/*#endregion */
button, .btn, a, a:hover .js-upload, input[type=file] {
  cursor: pointer;
  outline: none;
  text-decoration: none !important; }

.btn {
  display: flex;
  min-height: 26px;
  -moz-border-radius: 2.5px 2.5px 2.5px 2.5px;
  -webkit-border-radius: 2.5px 2.5px 2.5px 2.5px;
  border-radius: 2.5px 2.5px 2.5px 2.5px;
  border: 0;
  padding: 4px 15px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  white-space: nowrap;
  min-width: 80px;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: padding-box;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  grid-gap: 5px; }
  .btn span, .btn text {
    white-space: nowrap;
    margin: auto 0; }
  .btn span:first-child {
    margin-left: auto !important; }
  .btn span:last-child {
    margin-right: auto !important; }
  .btn .uk-icon svg {
    width: 20px;
    height: 20px; }

a.btn {
  line-height: 26px; }

a.btn.btn-primary:hover {
  color: white; }

.btn-icon {
  border: 0;
  background-color: transparent;
  min-height: 20px;
  min-width: 20px;
  padding: 7.6px 8px;
  -moz-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
  color: #555; }

.btn-icon:hover {
  background-color: rgba(0, 0, 0, 0.06);
  color: #444; }

.btn-icon:active {
  background-color: rgba(0, 0, 0, 0.12);
  -moz-transition: all ease 0s;
  -o-transition: all ease 0s;
  -webkit-transition: all ease 0s;
  transition: all ease 0s; }

.btn-primary {
  border: 0;
  background-color: #1890FF;
  color: white;
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); }

.btn-primary:hover, .btn-primary:focus {
  background-color: #40A9FF; }

.btn-primary:active {
  background-color: #198af3;
  -moz-box-shadow: 0 0 9px rgba(24, 144, 255, 0.32);
  -webkit-box-shadow: 0 0 9px rgba(24, 144, 255, 0.32);
  box-shadow: 0 0 9px rgba(24, 144, 255, 0.32);
  transition: background-color ease .2s; }

.btn-success {
  background-color: #C9F7F5 !important;
  color: #1BC5BD !important; }

.btn-success:hover {
  background-color: #b7f4f2 !important;
  color: #19b3ac !important; }

.btn-warning {
  background-color: #FFF4DE !important;
  color: #FFA800 !important; }

.btn-warning:hover {
  background-color: #ffedca !important;
  color: #ffaf14 !important; }

.btn-danger {
  background-color: #FFE2E5 !important;
  color: #F64E60 !important; }

.btn-danger:hover {
  background-color: #ffced3 !important;
  color: #f53b4f !important; }

.btn-secondary {
  border: 1px #ddd solid;
  background-color: transparent;
  color: #454545;
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); }

.btn-dashed {
  border: 1px #ddd dashed;
  background-color: transparent;
  color: #262626;
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); }

.btn-secondary:hover, .btn-secondary:focus, .btn-dashed:hover, .btn-dashed:focus {
  border-color: #1890FF;
  color: #40A9FF; }

.btn-secondary:active, .btn-dashed:active {
  border-color: #198af3;
  color: #198af3;
  -moz-box-shadow: 0 0 9px rgba(24, 144, 255, 0.32);
  -webkit-box-shadow: 0 0 9px rgba(24, 144, 255, 0.32);
  box-shadow: 0 0 9px rgba(24, 144, 255, 0.32);
  transition: background-color ease .2s; }

.btn-text {
  background: transparent;
  color: #262626; }

.btn-text:hover, .btn-text:focus {
  background: rgba(0, 0, 0, 0.04); }

.btn-text:active {
  background: rgba(25, 138, 243, 0.04); }

.btn-link {
  background: transparent;
  color: #1890FF; }

.btn-link:hover, .btn-link:focus {
  text-shadow: 0 0 5px rgba(25, 138, 243, 0.36); }

.btn-link:active {
  background: #E6F7FF; }

.text-def {
  color: #262626; }

.text-lesser {
  color: #787878 !important; }

input:not(input[type=checkbox]):not(input[type=radio]) {
  font-size: 13px;
  min-height: 26px; }

/*#region Form */
.entry, .entry-invis {
  background: #fff;
  padding: 2px 8px;
  font-size: 14px;
  direction: rtl;
  border: 1px #ddd solid;
  -moz-border-radius: 2.5px 2.5px 2.5px 2.5px;
  -webkit-border-radius: 2.5px 2.5px 2.5px 2.5px;
  border-radius: 2.5px 2.5px 2.5px 2.5px;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s; }
  .entry ::placeholder, .entry-invis ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ddd;
    opacity: 1;
    /* Firefox */ }
  .entry :-ms-input-placeholder, .entry-invis :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #ddd; }
  .entry ::-ms-input-placeholder, .entry-invis ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #ddd; }

.entry-invis {
  border: 0;
  background-color: transparent; }

.entry:hover, .entry:focus {
  border: 1px #1890FF solid; }

.entry:focus {
  -moz-box-shadow: 0 0 9px rgba(24, 144, 255, 0.32);
  -webkit-box-shadow: 0 0 9px rgba(24, 144, 255, 0.32);
  box-shadow: 0 0 9px rgba(24, 144, 255, 0.32); }

.entry:disabled, .entry[disabled] {
  background: #F5F5F5;
  color: #BFBFBF;
  cursor: not-allowed; }

.fg-col {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column; }
  .fg-col .fg-label {
    font-size: 15px;
    color: #262626;
    margin-bottom: 8px; }
  .fg-col .text-danger {
    margin-top: 8px;
    color: #DA4B1E;
    font-size: 14px; }
  .fg-col .radio {
    display: flex;
    margin: 6px 0 6px auto; }
  .fg-col textarea {
    resize: vertical;
    transition-property: border-color;
    margin-bottom: 0;
    min-height: 28px;
    height: 72px; }
  .fg-col input[type=color] {
    padding: 0 2px;
    width: 48px;
    border: dashed 1px #aaa;
    height: 32px;
    -moz-border-radius: 2.5px 2.5px 2.5px 2.5px;
    -webkit-border-radius: 2.5px 2.5px 2.5px 2.5px;
    border-radius: 2.5px 2.5px 2.5px 2.5px; }
  .fg-col .dl-label {
    color: #666;
    font-size: 13px; }
  .fg-col .dl-data {
    margin-top: 4px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    color: #262626;
    font-size: 17px; }

.fg-col:last-child {
  margin-bottom: 6px; }

.fg-required .fg-label:before {
  content: "*";
  color: #FF4D4F;
  font-size: 16px; }

.form {
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -moz-box-shadow: rgba(0, 0, 0, 0.12) 0 6px 16px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0 6px 16px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 6px 16px;
  -moz-border-radius: 2.5px 2.5px 2.5px 2.5px;
  -webkit-border-radius: 2.5px 2.5px 2.5px 2.5px;
  border-radius: 2.5px 2.5px 2.5px 2.5px; }
  .form-header {
    padding: 16px;
    border-bottom: solid #e5e5e5 1px;
    position: relative;
    z-index: 20 !important;
    font-size: 18px; }
  .form-search {
    padding: 0;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 0;
    background-color: #fff;
    position: relative;
    z-index: 19 !important; }
    .form-search .controls-grid {
      display: grid;
      grid-template-rows: auto;
      grid-gap: 0;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      flex: 1;
      direction: rtl; }
      .form-search .controls-grid * {
        direction: ltr; }
      .form-search .controls-grid .entry {
        min-width: 160px;
        direction: rtl; }
      .form-search .controls-grid > * {
        border-left: 1px #e5e5e5 solid !important;
        border-bottom: 1px #e5e5e5 solid; }
    .form-search .entry {
      border: 0;
      border-bottom: 1px #e5e5e5 solid; }
    .form-search .entry:hover, .form-search .entry:focus, .form-search .col:hover, .form-search .col:focus {
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      background-color: #f8f8f8; }
    .form-search .col {
      -moz-transition: all ease 0.2s;
      -o-transition: all ease 0.2s;
      -webkit-transition: all ease 0.2s;
      transition: all ease 0.2s; }
      .form-search .col .fg-label {
        margin: 8px;
        margin-left: auto; }
  .form .form-search + .form-body {
    margin-top: -1px;
    border-top: solid #e5e5e5 1px; }
  .form-body {
    padding: 16px;
    display: flex;
    flex-direction: column; }
  .form-footer {
    border-top: solid #e5e5e5 1px;
    padding: 16px;
    display: flex;
    flex-direction: row-reverse;
    grid-gap: 12px; }

.sticked {
  background-color: #fff;
  z-index: 20;
  border-top: 1px #e5e5e5 solid; }

/*#endregion */
.m-top {
  display: flex;
  flex-direction: row;
  position: fixed;
  left: 0;
  right: 0;
  height: 72px;
  z-index: 1020; }
  .m-top .m-logo {
    background-color: #1890FF;
    height: 72px;
    width: 76px;
    min-width: 72px;
    -moz-transition: all ease 0.29s;
    -o-transition: all ease 0.29s;
    -webkit-transition: all ease 0.29s;
    transition: all ease 0.29s; }
    .m-top .m-logo a {
      height: 100%;
      width: 100%;
      display: flex; }
      .m-top .m-logo a img {
        height: 48px;
        width: 48px;
        margin: auto; }
  .m-top .m-header {
    width: 100%;
    height: 72px;
    background-color: #fff;
    -moz-box-shadow: rgba(0, 0, 0, 0.12) 0 0px 12px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0 0px 12px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 0px 12px;
    display: flex;
    flex-direction: row;
    grid-gap: 0 12px;
    padding: 0 12px; }
    .m-top .m-header .left {
      margin: auto auto auto 0;
      display: flex;
      flex-direction: row;
      grid-gap: 12px; }
      .m-top .m-header .left svg {
        height: 20px;
        width: 20px; }
      .m-top .m-header .left .user {
        display: flex;
        flex-direction: row;
        padding-left: 6px; }
        .m-top .m-header .left .user img {
          -o-object-fit: cover;
          object-fit: cover;
          -o-object-position: center;
          object-position: center;
          width: 48px;
          height: 48px;
          -moz-border-radius: 1000px 1000px 1000px 1000px;
          -webkit-border-radius: 1000px 1000px 1000px 1000px;
          border-radius: 1000px 1000px 1000px 1000px;
          margin: auto 0;
          margin-right: 8px; }
        .m-top .m-header .left .user > .uk-icon {
          margin: auto 0;
          color: #999; }
        .m-top .m-header .left .user .column {
          margin: auto 0;
          margin-right: 8px; }
          .m-top .m-header .left .user .column h6 {
            color: #555;
            font-size: 14px; }
          .m-top .m-header .left .user .column span {
            color: #aaa;
            font-size: 11px; }
      .m-top .m-header .left .vertical-divider {
        margin: 4px 0;
        height: calc($header-height - 8px);
        width: 1px;
        background-color: #ddd; }
      .m-top .m-header .left .quick-actions {
        display: flex;
        flex-direction: row; }
        .m-top .m-header .left .quick-actions svg {
          color: #999; }
        .m-top .m-header .left .quick-actions .btn-icon {
          margin: auto 4px auto 0; }
        .m-top .m-header .left .quick-actions .btn-icon:last-child {
          margin: auto 0 auto 0; }
        .m-top .m-header .left .quick-actions .notification-drop {
          min-width: 280px; }
          .m-top .m-header .left .quick-actions .notification-drop .dropdown-list a span {
            direction: rtl;
            max-width: 260px;
            overflow: hidden;
            font-size: 14px;
            white-space: nowrap;
            text-overflow: ellipsis; }
          .m-top .m-header .left .quick-actions .notification-drop .dropdown-list a span.new:before {
            content: '●';
            color: red; }
    .m-top .m-header .right {
      margin: auto 0 auto auto;
      flex: auto; }

.m-aside {
  height: 100%;
  width: 72px;
  background-color: #373B53;
  top: 72px;
  right: 0;
  z-index: 1020;
  position: fixed;
  -moz-box-shadow: rgba(55, 59, 83, 0.68) 0 6px 16px;
  -webkit-box-shadow: rgba(55, 59, 83, 0.68) 0 6px 16px;
  box-shadow: rgba(55, 59, 83, 0.68) 0 6px 16px;
  -moz-transition: all ease 0.32s;
  -o-transition: all ease 0.32s;
  -webkit-transition: all ease 0.32s;
  transition: all ease 0.32s;
  -moz-transition-property: width;
  -o-transition-property: width;
  -webkit-transition-property: width;
  transition-property: width;
  overflow-x: hidden; }
  .m-aside .navigation {
    margin: 0;
    height: calc(100vh - 65px);
    overflow: auto !important; }
    .m-aside .navigation li {
      display: flex;
      flex-direction: column;
      height: auto;
      cursor: pointer !important;
      overflow-x: hidden; }
      .m-aside .navigation li a {
        display: flex;
        flex-direction: row-reverse;
        -moz-transition: all ease 0.2s;
        -o-transition: all ease 0.2s;
        -webkit-transition: all ease 0.2s;
        transition: all ease 0.2s;
        height: 72px;
        cursor: pointer; }
        .m-aside .navigation li a .uk-icon {
          color: #fff;
          margin: auto;
          margin-right: 24px !important;
          min-height: 24px;
          min-width: 24px; }
        .m-aside .navigation li a label {
          width: 0;
          margin: auto 0;
          margin-right: 100px;
          font-size: 14px;
          opacity: 0;
          color: #fff;
          white-space: nowrap;
          -moz-transition: all ease 0.3s;
          -o-transition: all ease 0.3s;
          -webkit-transition: all ease 0.3s;
          transition: all ease 0.3s;
          pointer-events: none; }
      .m-aside .navigation li a:hover {
        background-color: rgba(255, 255, 255, 0.15); }
    .m-aside .navigation [accordion] {
      position: relative;
      background-color: #2F3246; }
      .m-aside .navigation [accordion] ul {
        display: flex;
        margin: 0;
        overflow: hidden;
        -moz-transition: all ease 0.48s;
        -o-transition: all ease 0.48s;
        -webkit-transition: all ease 0.48s;
        transition: all ease 0.48s;
        display: flex;
        flex-direction: column;
        max-height: 0;
        -moz-transition-timing-function: ease-out;
        -o-transition-timing-function: ease-out;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out; }
        .m-aside .navigation [accordion] ul * {
          -moz-transition: all ease 0.2s;
          -o-transition: all ease 0.2s;
          -webkit-transition: all ease 0.2s;
          transition: all ease 0.2s;
          opacity: 0; }
        .m-aside .navigation [accordion] ul a {
          padding-right: 20px; }
      .m-aside .navigation [accordion] ul.open {
        max-height: 200px;
        background-color: rgba(0, 0, 0, 0.08); }
        .m-aside .navigation [accordion] ul.open * {
          opacity: 1; }
    .m-aside .navigation [accordion-trigger]:before {
      content: " ";
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: #fff;
      width: 3px; }
  .m-aside ::-webkit-scrollbar {
    display: none; }

.m-aside:hover {
  width: 192px; }
  .m-aside:hover .navigation li {
    cursor: pointer; }
    .m-aside:hover .navigation li a .uk-icon {
      margin: auto auto auto 8px;
      cursor: pointer; }
    .m-aside:hover .navigation li a label {
      cursor: pointer;
      width: 132px;
      height: auto;
      margin: auto 0px auto auto;
      opacity: 1; }

/*.m-aside:hover + .m-top > .m-logo {
    width: $aside-width + 120px + 32px;
}*/
.m-content {
  min-height: calc(100vh - 165px);
  height: 100%;
  margin-right: 72px;
  margin-top: 72px;
  padding: 16px;
  background: #F8F8FB; }

.card {
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -moz-box-shadow: rgba(0, 0, 0, 0.12) 0 6px 16px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0 6px 16px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 6px 16px;
  -moz-border-radius: 2.5px 2.5px 2.5px 2.5px;
  -webkit-border-radius: 2.5px 2.5px 2.5px 2.5px;
  border-radius: 2.5px 2.5px 2.5px 2.5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.12) 0 6px 16px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0 6px 16px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 6px 16px;
  padding: 16px; }

.card-padding {
  padding: 16px; }

.card-mat {
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -moz-box-shadow: rgba(0, 0, 0, 0.12) 0 6px 16px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0 6px 16px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 6px 16px;
  -moz-border-radius: 2.5px 2.5px 2.5px 2.5px;
  -webkit-border-radius: 2.5px 2.5px 2.5px 2.5px;
  border-radius: 2.5px 2.5px 2.5px 2.5px; }

.card-shadow {
  -moz-box-shadow: rgba(0, 0, 0, 0.12) 0 6px 16px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0 6px 16px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 6px 16px; }

.card-title {
  color: #333;
  font-size: 18px; }

.card-subtitle {
  color: #666;
  font-size: 14px;
  margin-top: 5px; }

/*#region tbl */
.scrollh-container {
  overflow-x: auto !important;
  overflow-y: hidden !important; }

.tbl {
  direction: rtl;
  border-spacing: 0;
  width: 100%; }
  .tbl .dropdown .rowr {
    justify-content: flex-end; }
    .tbl .dropdown .rowr span:last-child {
      margin-left: 8px; }
  .tbl .actions {
    width: 48px !important; }
    .tbl .actions * {
      margin: auto 0; }
  .tbl td:first-child, .tbl th:first-child {
    min-width: 28px !important;
    width: 28px !important;
    background-color: rgba(23, 151, 255, 0.04); }
  .tbl td, .tbl th {
    height: 48px;
    padding: 0 20px;
    min-width: 150px; }
  .tbl tbody tr {
    width: 100%;
    -moz-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    -webkit-transition: all ease 0.4s;
    transition: all ease 0.4s; }
  .tbl tbody tr:nth-child(2n+1) {
    background-color: #f9f9f9; }
  .tbl tbody tr:hover {
    background-color: #eee;
    -moz-transition: all ease 0.1s;
    -o-transition: all ease 0.1s;
    -webkit-transition: all ease 0.1s;
    transition: all ease 0.1s; }
  .tbl .btn-link:hover {
    background-color: transparent; }
  .tbl .btn-link:active {
    color: #095ba7; }

/*#endregion */
.bg-white {
  background-color: #fff; }

.text-1 {
  color: #000; }

.text-2 {
  color: #333; }

.text-3 {
  color: #666; }

.text-4 {
  color: #999; }

.text-5 {
  color: #ccc; }

.text-6 {
  color: #fff; }

.grid-30 {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
  direction: rtl; }
  .grid-30 * {
    direction: ltr;
    text-align: right; }
  .grid-30 .fg-col {
    margin-bottom: 0; }

.grid-40 {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
  direction: rtl; }
  .grid-40 * {
    direction: ltr;
    text-align: right; }
  .grid-40 .fg-col {
    margin-bottom: 0; }

.grid-50 {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  direction: rtl; }
  .grid-50 * {
    direction: ltr;
    text-align: right; }
  .grid-50 .fg-col {
    margin-bottom: 0; }

.grid-60 {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
  direction: rtl; }
  .grid-60 * {
    direction: ltr;
    text-align: right; }
  .grid-60 .fg-col {
    margin-bottom: 0; }

.grid-70 {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  direction: rtl; }
  .grid-70 * {
    direction: ltr;
    text-align: right; }
  .grid-70 .fg-col {
    margin-bottom: 0; }

.grid-80 {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  direction: rtl; }
  .grid-80 * {
    direction: ltr;
    text-align: right; }
  .grid-80 .fg-col {
    margin-bottom: 0; }

.grid-90 {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
  direction: rtl; }
  .grid-90 * {
    direction: ltr;
    text-align: right; }
  .grid-90 .fg-col {
    margin-bottom: 0; }

.grid-100 {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  direction: rtl; }
  .grid-100 * {
    direction: ltr;
    text-align: right; }
  .grid-100 .fg-col {
    margin-bottom: 0; }

.grid-110 {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
  direction: rtl; }
  .grid-110 * {
    direction: ltr;
    text-align: right; }
  .grid-110 .fg-col {
    margin-bottom: 0; }

.grid-120 {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  direction: rtl; }
  .grid-120 * {
    direction: ltr;
    text-align: right; }
  .grid-120 .fg-col {
    margin-bottom: 0; }

.grid-130 {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  direction: rtl; }
  .grid-130 * {
    direction: ltr;
    text-align: right; }
  .grid-130 .fg-col {
    margin-bottom: 0; }

.grid-140 {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  direction: rtl; }
  .grid-140 * {
    direction: ltr;
    text-align: right; }
  .grid-140 .fg-col {
    margin-bottom: 0; }

.grid-150 {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  direction: rtl; }
  .grid-150 * {
    direction: ltr;
    text-align: right; }
  .grid-150 .fg-col {
    margin-bottom: 0; }

.grid-160 {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  direction: rtl; }
  .grid-160 * {
    direction: ltr;
    text-align: right; }
  .grid-160 .fg-col {
    margin-bottom: 0; }

.grid-170 {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  direction: rtl; }
  .grid-170 * {
    direction: ltr;
    text-align: right; }
  .grid-170 .fg-col {
    margin-bottom: 0; }

.grid-180 {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  direction: rtl; }
  .grid-180 * {
    direction: ltr;
    text-align: right; }
  .grid-180 .fg-col {
    margin-bottom: 0; }

.grid-190 {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  direction: rtl; }
  .grid-190 * {
    direction: ltr;
    text-align: right; }
  .grid-190 .fg-col {
    margin-bottom: 0; }

.grid-200 {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  direction: rtl; }
  .grid-200 * {
    direction: ltr;
    text-align: right; }
  .grid-200 .fg-col {
    margin-bottom: 0; }

.grid-210 {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  direction: rtl; }
  .grid-210 * {
    direction: ltr;
    text-align: right; }
  .grid-210 .fg-col {
    margin-bottom: 0; }

.grid-220 {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  direction: rtl; }
  .grid-220 * {
    direction: ltr;
    text-align: right; }
  .grid-220 .fg-col {
    margin-bottom: 0; }

.grid-230 {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  direction: rtl; }
  .grid-230 * {
    direction: ltr;
    text-align: right; }
  .grid-230 .fg-col {
    margin-bottom: 0; }

.grid-240 {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  direction: rtl; }
  .grid-240 * {
    direction: ltr;
    text-align: right; }
  .grid-240 .fg-col {
    margin-bottom: 0; }

.grid-250 {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  direction: rtl; }
  .grid-250 * {
    direction: ltr;
    text-align: right; }
  .grid-250 .fg-col {
    margin-bottom: 0; }

.grid-260 {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  direction: rtl; }
  .grid-260 * {
    direction: ltr;
    text-align: right; }
  .grid-260 .fg-col {
    margin-bottom: 0; }

.grid-270 {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  direction: rtl; }
  .grid-270 * {
    direction: ltr;
    text-align: right; }
  .grid-270 .fg-col {
    margin-bottom: 0; }

.grid-280 {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  direction: rtl; }
  .grid-280 * {
    direction: ltr;
    text-align: right; }
  .grid-280 .fg-col {
    margin-bottom: 0; }

.grid-290 {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  direction: rtl; }
  .grid-290 * {
    direction: ltr;
    text-align: right; }
  .grid-290 .fg-col {
    margin-bottom: 0; }

.grid-300 {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  direction: rtl; }
  .grid-300 * {
    direction: ltr;
    text-align: right; }
  .grid-300 .fg-col {
    margin-bottom: 0; }

.grid-310 {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  direction: rtl; }
  .grid-310 * {
    direction: ltr;
    text-align: right; }
  .grid-310 .fg-col {
    margin-bottom: 0; }

.grid-320 {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  direction: rtl; }
  .grid-320 * {
    direction: ltr;
    text-align: right; }
  .grid-320 .fg-col {
    margin-bottom: 0; }

.grid-330 {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  direction: rtl; }
  .grid-330 * {
    direction: ltr;
    text-align: right; }
  .grid-330 .fg-col {
    margin-bottom: 0; }

.grid-340 {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  direction: rtl; }
  .grid-340 * {
    direction: ltr;
    text-align: right; }
  .grid-340 .fg-col {
    margin-bottom: 0; }

.grid-350 {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  direction: rtl; }
  .grid-350 * {
    direction: ltr;
    text-align: right; }
  .grid-350 .fg-col {
    margin-bottom: 0; }

.grid-360 {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  direction: rtl; }
  .grid-360 * {
    direction: ltr;
    text-align: right; }
  .grid-360 .fg-col {
    margin-bottom: 0; }

.grid-370 {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
  direction: rtl; }
  .grid-370 * {
    direction: ltr;
    text-align: right; }
  .grid-370 .fg-col {
    margin-bottom: 0; }

.grid-380 {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  direction: rtl; }
  .grid-380 * {
    direction: ltr;
    text-align: right; }
  .grid-380 .fg-col {
    margin-bottom: 0; }

.grid-390 {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(390px, 1fr));
  direction: rtl; }
  .grid-390 * {
    direction: ltr;
    text-align: right; }
  .grid-390 .fg-col {
    margin-bottom: 0; }

.grid-400 {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  direction: rtl; }
  .grid-400 * {
    direction: ltr;
    text-align: right; }
  .grid-400 .fg-col {
    margin-bottom: 0; }

.grid-410 {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(410px, 1fr));
  direction: rtl; }
  .grid-410 * {
    direction: ltr;
    text-align: right; }
  .grid-410 .fg-col {
    margin-bottom: 0; }

.grid-420 {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
  direction: rtl; }
  .grid-420 * {
    direction: ltr;
    text-align: right; }
  .grid-420 .fg-col {
    margin-bottom: 0; }

.grid-430 {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(430px, 1fr));
  direction: rtl; }
  .grid-430 * {
    direction: ltr;
    text-align: right; }
  .grid-430 .fg-col {
    margin-bottom: 0; }

.grid-440 {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(440px, 1fr));
  direction: rtl; }
  .grid-440 * {
    direction: ltr;
    text-align: right; }
  .grid-440 .fg-col {
    margin-bottom: 0; }

.grid-450 {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  direction: rtl; }
  .grid-450 * {
    direction: ltr;
    text-align: right; }
  .grid-450 .fg-col {
    margin-bottom: 0; }

.grid-460 {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(460px, 1fr));
  direction: rtl; }
  .grid-460 * {
    direction: ltr;
    text-align: right; }
  .grid-460 .fg-col {
    margin-bottom: 0; }

.grid-470 {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(470px, 1fr));
  direction: rtl; }
  .grid-470 * {
    direction: ltr;
    text-align: right; }
  .grid-470 .fg-col {
    margin-bottom: 0; }

.grid-480 {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
  direction: rtl; }
  .grid-480 * {
    direction: ltr;
    text-align: right; }
  .grid-480 .fg-col {
    margin-bottom: 0; }

.grid-490 {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(490px, 1fr));
  direction: rtl; }
  .grid-490 * {
    direction: ltr;
    text-align: right; }
  .grid-490 .fg-col {
    margin-bottom: 0; }

.grid-500 {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  direction: rtl; }
  .grid-500 * {
    direction: ltr;
    text-align: right; }
  .grid-500 .fg-col {
    margin-bottom: 0; }

.footer {
  background-color: #fff;
  -moz-box-shadow: rgba(0, 0, 0, 0.12) 0 6px 16px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0 6px 16px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 6px 16px;
  height: 60px;
  width: 100vw;
  border-top: 1px solid #e5e5e5;
  position: relative;
  z-index: 200; }

/* ACTIVITY CARD */
.activity .header {
  display: flex;
  flex-direction: column;
  border-bottom: #e5e5e5 1px solid; }
  .activity .header .title {
    color: #333;
    font-size: 20px; }
  .activity .header .subtitle {
    color: #666;
    font-size: 14px;
    margin-top: 4px; }

.activity .body {
  position: relative;
  grid-gap: 24px;
  display: flex;
  flex-direction: column; }
  .activity .body .line {
    display: block;
    position: absolute;
    right: 77px;
    top: 20px;
    bottom: 20px;
    width: 4.5px;
    height: auto;
    background-color: #ddd; }
  .activity .body .item {
    display: flex;
    flex-direction: row-reverse;
    grid-gap: 8px; }
    .activity .body .item .time {
      font-weight: 500;
      color: #000;
      width: 44px;
      min-width: 44px;
      font-size: 14px;
      -moz-border-radius: 1000px 1000px 1000px 1000px;
      -webkit-border-radius: 1000px 1000px 1000px 1000px;
      border-radius: 1000px 1000px 1000px 1000px;
      text-align: center; }
    .activity .body .item .badge {
      -moz-border-radius: 1000px 1000px 1000px 1000px;
      -webkit-border-radius: 1000px 1000px 1000px 1000px;
      border-radius: 1000px 1000px 1000px 1000px;
      background-color: #bbb;
      position: relative;
      z-index: 5;
      height: 16px;
      width: 16px;
      min-width: 16px;
      border: 3px solid #fff;
      margin: auto 0; }
    .activity .body .item .text {
      color: #666;
      margin: 0;
      padding: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      /* number of lines to show */
      -webkit-box-orient: vertical; }
  .activity .body .item.red .badge {
    background-color: #F64E60; }
  .activity .body .item.green .badge {
    background-color: #1BC5BD; }
  .activity .body .item.blue .badge {
    background-color: #3699FF; }
  .activity .body .item.yellow .badge {
    background-color: #FFA800; }
  .activity .body .item.purple .badge {
    background-color: #BB9AFD; }

.icon-list-item {
  display: flex;
  flex-direction: row-reverse;
  grid-gap: 8px; }
  .icon-list-item img {
    width: 48px;
    height: 48px; }
  .icon-list-item .col label {
    font-size: 16px;
    color: #333; }
  .icon-list-item .col span {
    font-size: 14px;
    color: #999; }
  .icon-list-item a {
    display: block;
    margin: auto 0;
    margin-right: auto;
    -moz-border-radius: 1000px 1000px 1000px 1000px;
    -webkit-border-radius: 1000px 1000px 1000px 1000px;
    border-radius: 1000px 1000px 1000px 1000px; }

.uk-icon.tiny svg {
  width: 16px !important;
  height: 16px !important;
  margin-top: 4px;
  margin-right: 4px; }

.uk-icon.small svg {
  width: 20px !important;
  height: 20px !important;
  margin-top: 2px;
  margin-right: 2px; }

.uk-icon.medium svg {
  width: 24px !important;
  height: 24px !important; }

[preview] {
  cursor: pointer;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  [preview] input[type=file] {
    width: 0;
    height: 0;
    flex: 0;
    max-height: 0;
    max-width: 0;
    visibility: collapse;
    background-color: red; }

.profile-image {
  width: 92px;
  height: 92px;
  background-color: #eee;
  -moz-border-radius: 1000px 1000px 1000px 1000px;
  -webkit-border-radius: 1000px 1000px 1000px 1000px;
  border-radius: 1000px 1000px 1000px 1000px; }

[gauge] {
  position: relative; }
  [gauge] .gauge .gauge-progress {
    -moz-transition: all ease 0.7s;
    -o-transition: all ease 0.7s;
    -webkit-transition: all ease 0.7s;
    transition: all ease 0.7s;
    transition-timing-function: ease-in-out;
    stroke: #1890FF;
    stroke-linecap: round;
    fill: transparent;
    transform-origin: center;
    transform: rotate(-90deg); }
  [gauge] .gauge .gauge-background {
    stroke: rgba(64, 169, 255, 0.28);
    fill: transparent; }
  [gauge] .gauge-content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex; }
    [gauge] .gauge-content .gauge-percent {
      margin: auto; }

.previewDrop {
  background-color: rgba(174, 214, 255, 0.28);
  min-height: 35px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  pointer-events: none; }

.round {
  -moz-border-radius: 1000px 1000px 1000px 1000px;
  -webkit-border-radius: 1000px 1000px 1000px 1000px;
  border-radius: 1000px 1000px 1000px 1000px; }

.dropdown {
  background: #fff;
  padding: 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.12) 0 6px 16px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0 6px 16px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 6px 16px;
  -moz-border-radius: 2.5px 2.5px 2.5px 2.5px;
  -webkit-border-radius: 2.5px 2.5px 2.5px 2.5px;
  border-radius: 2.5px 2.5px 2.5px 2.5px;
  border: 1px #dfdfdf solid; }
  .dropdown .dropdown-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 0; }
    .dropdown .dropdown-list li {
      -moz-transition: all ease 0.2s;
      -o-transition: all ease 0.2s;
      -webkit-transition: all ease 0.2s;
      transition: all ease 0.2s; }
      .dropdown .dropdown-list li a {
        padding: 10px 12px;
        color: #454545;
        height: 100%; }
      .dropdown .dropdown-list li a, .dropdown .dropdown-list li span {
        white-space: nowrap !important; }
    .dropdown .dropdown-list li:hover {
      background-color: rgba(0, 0, 0, 0.06); }
    .dropdown .dropdown-list li:active {
      background-color: rgba(0, 0, 0, 0.14);
      -moz-transition: all ease 0s;
      -o-transition: all ease 0s;
      -webkit-transition: all ease 0s;
      transition: all ease 0s; }

.timeline {
  display: flex;
  flex-direction: column;
  border: #e5e5e5 1px solid; }
  .timeline .timeline-header {
    display: flex;
    flex-direction: row-reverse;
    border-bottom: #e5e5e5 1px solid; }
    .timeline .timeline-header .timeline-empty {
      width: 128px;
      height: 28px;
      border-left: #e5e5e5 1px solid; }
    .timeline .timeline-header .timeline-timestamps {
      display: flex;
      flex-direction: row-reverse;
      height: 28px; }
      .timeline .timeline-header .timeline-timestamps .timeline-timestamp {
        width: 52px;
        height: 28px;
        line-height: 28px;
        border-left: #e5e5e5 1px solid;
        counter-increment: test;
        align-content: center;
        justify-content: center;
        text-align: center; }
  .timeline .timeline-body {
    display: flex;
    flex-direction: column; }
    .timeline .timeline-body .timeline-row {
      display: flex;
      flex-direction: row-reverse;
      border-bottom: #e5e5e5 1px solid; }
      .timeline .timeline-body .timeline-row .timeline-annotation {
        width: 128px;
        height: 28px;
        border-left: #e5e5e5 1px solid; }
      .timeline .timeline-body .timeline-row .timeline-blocks {
        display: flex;
        flex-direction: row-reverse;
        height: 28px; }
        .timeline .timeline-body .timeline-row .timeline-blocks .timeline-block {
          width: 52px;
          height: 28px;
          border-left: #e5e5e5 1px solid; }
        .timeline .timeline-body .timeline-row .timeline-blocks .timeline-block:last-child {
          border-left: 0; }
    .timeline .timeline-body .timeline-row:last-child {
      border-bottom: 0; }
