<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/css/uikit.min.css" rel="stylesheet" />
    <link href="~/css/Controls.min.css" rel="stylesheet" />
    <link href="~/css/Entry.css" rel="stylesheet" />

</head>
<body>

    <div class="uk-container-small uk-margin-auto-left uk-margin-auto-right uk-padding">
        @RenderBody()
    </div>

    <div class="copyright col">
        <p>
            تمامی حقوق این سامانه مطعلق به شیرخوارگاه نور احسان می باشد، طراحی و توسعه توسط شرکت 
            <a href="">ایده پرداز آروین تاو</a>
        </p>
    </div>

</body>
</html>
