
@{
    ViewData["Title"] = "ویرایش گذرواژه";
    Layout = "~/Areas/User/Views/_UserLayout.cshtml";
}

<form class="form" method="post">
    <div class="form-header">
        <h3>
            ویرایش گذرواژه
        </h3>
    </div>
    <div class="form-body">

        <div class="grid-300">

            <div class="fg-col ">
                <label class="fg-label" for="name">گذرواژه جاری</label>
                <input class="entry" id="Name">
                <span class="text-danger"></span>
            </div>

            <div class="fg-col ">
                <label class="fg-label" for="name">گذرواژه جدید</label>
                <input class="entry" id="Name">
                <span class="text-danger"></span>
            </div>

            <div class="fg-col ">
                <label class="fg-label" for="name">تکرار گذرواژه</label>
                <input class="entry" id="Name">
                <span class="text-danger"></span>
            </div>

        </div>

    </div>
    <div class="form-footer">
        <button class="btn btn-primary"><span>ویرایش</span></button>
    </div>
</form>