
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/User/Views/_UserLayout.cshtml";
}

<div class="headline">
    <h3>
        فرم های شما
    </h3>
    <hr />
</div>

<div class="forms">
    <div class="form-card card">
        <h4>
            نام فرم
        </h4>
        <p>
            لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید
        </p>
        <div class="rowr">
            <a href="" class="btn btn-dashed">مشاهده</a>
            <span class=" text-lesser uk-margin-auto-right uk-margin-auto-top">1399/12/22 16:20</span>
        </div>
    </div>
</div>

