
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/User/Views/_UserLayout.cshtml";
}

<div class="card col">
    <h2>
        داشبرد
    </h2>
</div>

<div class="col-at-xs row-at-m gap-card uk-child-width-1-1-at-xs uk-child-width-1-2">
    <div class="card col uk-margin-remove-bottom">
        <h3>
            داشبرد
        </h3>
    </div>
    <div class="card col uk-margin-remove-bottom">
        <h3>
            داشبرد
        </h3>
    </div>
</div>
<div class="headline uk-margin-top">
    <h3>
        فرم های شما
    </h3>
    <hr />
</div>

<div class="forms">
    <partial name="_FormBlock" />
    <partial name="_FormBlock" />
    <partial name="_FormBlock" />
    <partial name="_FormBlock" />
    <partial name="_FormBlock" />
    <partial name="_FormBlock" />
</div>
