@model ChangePasswordVm
@{
    ViewData["Title"] = "ویرایش گذرواژه کاربر" + ViewData["name"];
    Layout = "~/Areas/Admin/Views/_AdminLayout.cshtml";
}

<form class="form" method="post" asp-action="ChangePassword">
    <div class="form-header">
        <h3>
            @ViewData["name"] ویرایش گذرواژه
        </h3>
    </div>
    <div class="form-body">
        <input type="hidden" asp-for="UserId" />
        <div class="grid-400">

            <div class="fg-col ">
                <label class="fg-label" for="name">گذرواژه جدید</label>
                <input class="entry" id="Password" asp-for="Password">
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>

            <div class="fg-col">
                <label class="fg-label" for="name">تکرار گذرواژه</label>
                <input class="entry" id="RePassword" asp-for="RePassword">
                <span class="text-danger" asp-validation-for="RePassword"></span>
            </div>

        </div>

    </div>
    <div class="form-footer">
        <button class="btn btn-primary"><span>ویرایش</span></button>
    </div>
</form>