@model EditUserVm
@{
    ViewData["Title"] = "ویرایش شیفت";
    Layout = "~/Areas/Admin/Views/_AdminLayout.cshtml";
}

<form class="form" asp-action="Edit" method="post" enctype="multipart/form-data">
    <input type="hidden" name="ImageUrl" asp-for="ImageUrl" />
    <input type="hidden" name="UserId" asp-for="UserId" />
    <div class="form-header" dir="rtl">
        <h3>
            ویرایش کاربر @Model.Name
        </h3>
    </div>
    <div class="form-body" confirmOk="callAjax()" confirmCancel="">

        <div class="fg-col uk-margin-auto-left">
            <label class="profile-image" style="background-image:url('/Images/User/@Model.ImageUrl')" preview="">
                <input type="file" accept="image/png,image/jpg,image/jpeg,image/gif" id="ImageUrl" asp-for="ImageUrl" />
            </label>
        </div>

        <div class="grid-400">

            <div class="fg-col ">
                <label class="fg-label" for="name">نام و نام خانوادگی</label>
                <input class="entry" id="Name" type="text" asp-for="Name">
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>

            <div class="fg-col ">
                <label class="fg-label" for="tel">شماره تلفن</label>
                <input class="entry" id="TellNo" type="tel" asp-for="TellNo">
                <span class="text-danger" asp-validation-for="TellNo"></span>
            </div>

            <div class="fg-col">
                <label class="fg-label" for="identification">کد ملی</label>
                <input class="entry" id="IdentificationNo" type="text" asp-for="IdentificationNo">
                <span class="text-danger" asp-validation-for="IdentificationNo"></span>
            </div>

            <div class="fg-col ">
                <label class="fg-label" for="IsAdmin">مدیر</label>
                <input class="uk-checkbox" id="IsAdmin" type="checkbox" asp-for="IsAdmin">
            </div>
        </div>

    </div>
    <div class="form-footer">
        <button class="btn btn-primary"><span>ویرایش</span></button>
    </div>
</form>