@{
    ViewData["Title"] = "کاربر جدید";
    Layout = "~/Areas/Admin/Views/_AdminLayout.cshtml";
}

<div class="col gap-between-card">
    <div class="form">
        <div class="form-body">
            <div class="fg-col" uk-lightbox>
                <a class="uk-margin-auto-left" href="~/st/png/blue.png">
                    <img class="profile-image" src="~/st/png/blue.png" width="128" height="128" />
                </a>
            </div>
            <div class="grid-160">
                <div class="fg-col">
                    <label class="dl-label">نام و نام خانوادگی</label>
                    <p class="dl-data">صدرا محمدی </p>
                </div>
                <div class="fg-col">
                    <label class="dl-label">شماره تلفن</label>
                    <p class="dl-data">09355932930</p>
                </div>
                <div class="fg-col">
                    <label class="dl-label">کد ملی</label>
                    <p class="dl-data">136 319 95 95</p>
                </div>
                <div class="fg-col">
                    <label class="dl-label">گذرواژه</label>
                    <p class="dl-data">DXDLool!$123</p>
                </div>
            </div>
        </div>
        <div class="form-footer">
            <a href="/" class="btn btn-primary">
                <span>ویرایش</span>
                <span uk-icon="pen-square"></span>
            </a>
            <button class="btn btn-danger">
                <span>حذف</span>
                <span uk-icon="trash"></span>
            </button>
        </div>
    </div>
    <div class="activity card-mat">
        <div class="header card-padding">
            <h1 class="title" dir="rtl">
                فعالیت ها
            </h1>
            <h3 class="subtitle" dir="rtl">
                3 مورد فعالیت در یک هفته گذشته
            </h3>
        </div>
        <div class="body card-padding">
            <div class="line"></div>
            <div class="item">
                <span class="time">08:42</span>
                <i class="badge"></i>
                <p class="text">
                    به نظر می‌رسد و قلم‌ها و اندازه‌بندی‌ها چگونه در نظر گرفته شده‌است. از آنجایی
                </p>
            </div>
            <div class="item purple">
                <span class="time">08:42</span>
                <i class="badge"></i>
                <p class="text">
                    به نظر می‌رسد و قلم‌ها و اندازه‌بندی‌ها چگونه در نظر گرفته شده‌است. از آنجایی
                </p>
            </div>
            <div class="item">
                <span class="time">08:42</span>
                <i class="badge"></i>
                <p class="text">
                    به نظر می‌رسد و قلم‌ها و اندازه‌بندی‌ها چگونه در نظر گرفته شده‌است. از آنجایی
                </p>
            </div>
            <div class="item green">
                <span class="time">08:42</span>
                <i class="badge"></i>
                <p class="text">
                    به نظر می‌رسد و قلم‌ها و اندازه‌بندی‌ها چگونه در نظر گرفته شده‌است. از آنجایی
                </p>
            </div>

            <div class="item red">
                <span class="time">08:42</span>
                <i class="badge"></i>
                <p class="text">
                    به نظر می‌رسد و قلم‌ها و اندازه‌بندی‌ها چگونه در نظر گرفته شده‌است. از آنجایی
                </p>
            </div>

            <div class="item blue">
                <span class="time">08:42</span>
                <i class="badge"></i>
                <p class="text">
                    به نظر می‌رسد و قلم‌ها و اندازه‌بندی‌ها چگونه در نظر گرفته شده‌است. از آنجایی
                </p>
            </div>

            <div class="item yellow">
                <span class="time">08:42</span>
                <i class="badge"></i>
                <p class="text">
                    به نظر می‌رسد و قلم‌ها و اندازه‌بندی‌ها چگونه در نظر گرفته شده‌است. از آنجایی
                </p>
            </div>

            <div class="item yellow">
                <span class="time">08:42</span>
                <i class="badge"></i>
                <p class="text">
                    به نظر می‌رسد و قلم‌ها و اندازه‌بندی‌ها چگونه در نظر گرفته شده‌است. از آنجایی
                </p>
            </div>

        </div>
    </div>
</div>