@model TblRolePageRel
@{
    ViewData["Title"] = "   تعیین بخش برای شیفت  " + ViewBag.name;
    Layout = "~/Areas/Admin/Views/_AdminLayout.cshtml";
}

<form class="form" method="post" asp-action="AddPage">
    <input type="hidden" asp-for="RoleId" />
    <input type="hidden" name="name" value="@ViewBag.name" />
    <div class="form-header">
        <h3 dir="rtl">
            تعیین بخش برای شیفت @ViewBag.name
        </h3>
    </div>
    <div class="form-body">

        <div class="grid-400">
            @{
                List<TblPage> listPage = ViewBag.RolePageRel as List<TblPage>;

            }

            <div class="fg-col ">
                <label class="fg-label" for="name">بخش</label>
                <select class="uk-select" asp-for="PageId">
                    @foreach (var item in listPage)
                    {
                        <option value="@item.PageId">@item.Name</option>
                    }
                </select>
                <span class="text-danger"asp-validation-for="PageId"></span>
            </div>


        </div>

    </div>
    <div class="form-footer">
        <button class="btn btn-primary"><span>اضافه</span></button>
    </div>
</form>