@model AddRoleVm
@{
    ViewData["Title"] = "ویرایش شیفت";
    Layout = "~/Areas/Admin/Views/_AdminLayout.cshtml";
}

<form class="form" asp-action="Edit" method="post">
    <input type="hidden" asp-for="RoleId" />
    <div class="form-header">
        <h3>
            ویرایش شیفت 
        </h3>
    </div>
    <div class="form-body">

        <div class="grid-400">

            <div class="fg-col ">

                <label class="fg-label" for="Name">نام</label>
                <input class="entry" asp-for="Name" type="text">
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>

            <div class="fg-col">
                <label class="fg-label" for="Title">تیتر</label>
                <input class="entry" asp-for="Title" type="text">
                <span class="text-danger" asp-validation-for="Title"></span>
            </div>

        </div>

    </div>
    <div class="form-footer">
        <button class="btn btn-primary"><span>ویرایش</span></button>
    </div>
</form>