@{
    ViewData["Title"] = "کاربر جدید";
    Layout = "~/Areas/Admin/Views/_AdminLayout.cshtml";
}

<div class="form">
    <div class="form-body">
        <div class="grid-160">
            <div class="fg-col">
                <label class="dl-label">نام و نام خانوادگی</label>
                <p class="dl-data">صدرا محمدی </p>
            </div>
            <div class="fg-col">
                <label class="dl-label">نام مستعار</label>
                <p class="dl-data">سدریک</p>
            </div>
        </div>
    </div>
    <div class="form-footer">
        <a href="/" class="btn btn-primary">
            <span>ویرایش</span>
            <span uk-icon="pen-square"></span>
        </a>
        <button class="btn btn-danger">
            <span>حذف</span>
            <span uk-icon="trash"></span>
        </button>
    </div>
</div>
