<div class="activity card-mat">
    <div class="header card-padding">
        <h1 class="title" dir="rtl">
            فعالیت ها
        </h1>
        <h3 class="subtitle" dir="rtl">
            3 مورد فعالیت در یک هفته گذشته
        </h3>
    </div>
    <div class="body card-padding">
        <div class="line"></div>
        <div class="item">
            <span class="time">08:42</span>
            <i class="badge"></i>
            <p class="text">
                به نظر می‌رسد و قلم‌ها و اندازه‌بندی‌ها چگونه در نظر گرفته شده‌است. از آنجایی
            </p>
        </div>
        <div class="item purple">
            <span class="time">08:42</span>
            <i class="badge"></i>
            <p class="text">
                به نظر می‌رسد و قلم‌ها و اندازه‌بندی‌ها چگونه در نظر گرفته شده‌است. از آنجایی
            </p>
        </div>
        <div class="item">
            <span class="time">08:42</span>
            <i class="badge"></i>
            <p class="text">
                به نظر می‌رسد و قلم‌ها و اندازه‌بندی‌ها چگونه در نظر گرفته شده‌است. از آنجایی
            </p>
        </div>
        <div class="item green">
            <span class="time">08:42</span>
            <i class="badge"></i>
            <p class="text">
                به نظر می‌رسد و قلم‌ها و اندازه‌بندی‌ها چگونه در نظر گرفته شده‌است. از آنجایی
            </p>
        </div>

        <div class="item red">
            <span class="time">08:42</span>
            <i class="badge"></i>
            <p class="text">
                به نظر می‌رسد و قلم‌ها و اندازه‌بندی‌ها چگونه در نظر گرفته شده‌است. از آنجایی
            </p>
        </div>

        <div class="item blue">
            <span class="time">08:42</span>
            <i class="badge"></i>
            <p class="text">
                به نظر می‌رسد و قلم‌ها و اندازه‌بندی‌ها چگونه در نظر گرفته شده‌است. از آنجایی
            </p>
        </div>

        <div class="item yellow">
            <span class="time">08:42</span>
            <i class="badge"></i>
            <p class="text">
                به نظر می‌رسد و قلم‌ها و اندازه‌بندی‌ها چگونه در نظر گرفته شده‌است. از آنجایی
            </p>
        </div>

        <div class="item yellow">
            <span class="time">08:42</span>
            <i class="badge"></i>
            <p class="text">
                به نظر می‌رسد و قلم‌ها و اندازه‌بندی‌ها چگونه در نظر گرفته شده‌است. از آنجایی
            </p>
        </div>

    </div>
</div>