@{
    ViewData["Title"] = "کانفیگ وبسایت";
    Layout = "~/Areas/Admin/Views/_AdminLayout.cshtml";
}

<div class="mat">
    <table class="config tbl uk-width-1-1" dir="rtl">
        <thead>
            <tr>
                <th>نام کانفیگ</th>
                <th>مقدار کانفیگ</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <label>نام کانفیگ</label>
                </td>
                <td>
                    <input type="text" class="entry-invis uk-width-1-1" placeholder="مقدار کانفیگ" value="" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>نام کانفیگ</label>
                </td>
                <td>
                    <input type="text" class="entry-invis uk-width-1-1" placeholder="مقدار کانفیگ" value="" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>نام کانفیگ</label>
                </td>
                <td>
                    <input type="text" class="entry-invis uk-width-1-1" placeholder="مقدار کانفیگ" value="" />
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>
                    <button class="btn btn-primary uk-margin-top uk-margin-bottom">ذخیره</button>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
