<div class="gap-card col">
    <div class="counter-grid">
        <div class="counter counter-yellow">
            <div class="content">
                <img src="" uk-icon="icon:user-astronaut;ratio:1.4" alt="" />
                <div class="col">
                    <label class="number">1,600,000</label>
                    <span class="title">کاربر</span>
                </div>
            </div>
        </div>
        <div class="counter counter-red">
            <div class="content">
                <img src="" uk-icon="icon:user-tie;ratio:1.4" alt="" />
                <div class="col">
                    <label class="number">1,600,000</label>
                    <span class="title">کاربر</span>
                </div>
            </div>
        </div>
        <div class="counter counter-blue">
            <div class="content">
                <img src="" uk-icon="icon:user;ratio:1.4" alt="" />
                <div class="col">
                    <label class="number">1,600,000</label>
                    <span class="title">کاربر</span>
                </div>
            </div>
        </div>
        <div class="counter counter-green">
            <div class="content">
                <img src="" uk-icon="icon:user-ninja;ratio:1.4" alt="" />
                <div class="col">
                    <label class="number">1,600,000</label>
                    <span class="title">کاربر</span>
                </div>
            </div>
        </div>
        <div class="counter counter-purple">
            <div class="content">
                <img src="" uk-icon="icon:user-ninja;ratio:1.4" alt="" />
                <div class="col">
                    <label class="number">1,600,000</label>
                    <span class="title">کاربر</span>
                </div>
            </div>
        </div>
        <div class="counter counter-card uk-box-shadow-medium">
            <div class="content">
                <img src="" uk-icon="icon:user-ninja;ratio:1.4" alt="" />
                <div class="col">
                    <label class="number">1,600,000</label>
                    <span class="title">کاربر</span>
                </div>
            </div>
        </div>
    </div>
</div>