
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/_AdminLayout.cshtml";
}

<div class="counter-grid">
    <div class="counter">
        <div class="content">
            <img src="" uk-icon="icon:user-astronaut;ratio:1.4" alt="" />
            <div class="col">
                <label class="number">1,600,000</label>
                <span class="title">کاربر</span>
            </div>
        </div>
    </div>
    <div class="counter red">
        <div class="content">
            <img src="" uk-icon="icon:user-tie;ratio:1.4" alt="" />
            <div class="col">
                <label class="number">1,600,000</label>
                <span class="title">کاربر</span>
            </div>
        </div>
    </div>
    <div class="counter blue">
        <div class="content">
            <img src="" uk-icon="icon:user;ratio:1.4" alt="" />
            <div class="col">
                <label class="number">1,600,000</label>
                <span class="title">کاربر</span>
            </div>
        </div>
    </div>
    <div class="counter green">
        <div class="content">
            <img src="" uk-icon="icon:user-ninja;ratio:1.4" alt="" />
            <div class="col">
                <label class="number">1,600,000</label>
                <span class="title">کاربر</span>
            </div>
        </div>
    </div>
</div>