@using DataLayer.ViewModels;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/_AdminLayout.cshtml";
}

<div class="col margin-between gap-between-card">

    <div class="card col">
        <h3>
            Timeline
        </h3>
        <div class="timeline">
            <div class="timeline-header">
                <div class="timeline-empty"></div>
                <div class="timeline-timestamps">
                    <div class="timeline-timestamp">16:20</div>
                    <div class="timeline-timestamp">16:25</div>
                    <div class="timeline-timestamp">16:30</div>
                    <div class="timeline-timestamp">16:35</div>
                    <div class="timeline-timestamp">16:40</div>
                    <div class="timeline-timestamp">16:45</div>
                </div>
            </div>
            <div class="timeline-body">
                <div class="timeline-row">
                    <div class="timeline-annotation"></div>
                    <div class="timeline-blocks">
                        <div class="timeline-block"></div>
                        <div class="timeline-block"></div>
                        <div class="timeline-block"></div>
                        <div class="timeline-block"></div>
                        <div class="timeline-block"></div>
                        <div class="timeline-block"></div>
                    </div>
                </div>
                <div class="timeline-row">
                    <div class="timeline-annotation"></div>
                    <div class="timeline-blocks">
                        <div class="timeline-block"></div>
                        <div class="timeline-block"></div>
                        <div class="timeline-block"></div>
                        <div class="timeline-block"></div>
                        <div class="timeline-block"></div>
                        <div class="timeline-block"></div>
                    </div>
                </div>
                <div class="timeline-row">
                    <div class="timeline-annotation"></div>
                    <div class="timeline-blocks">
                        <div class="timeline-block"></div>
                        <div class="timeline-block"></div>
                        <div class="timeline-block"></div>
                        <div class="timeline-block"></div>
                        <div class="timeline-block"></div>
                        <div class="timeline-block"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card col">
        <h3>t generated</h3>
        <div timeline="" timeline-data-url="/Admin/Home/TimelineData">

        </div>
    </div>

    <div class="card col">
        <h3>drop</h3>

        <style>
            .grid {
                grid-template-columns: 50px 50px 50px 50px 50px;
                grid-template-rows: 50px 50px 50px 50px 50px;
                display: grid;
            }
        </style>

        <div class="row">
            <div class="grid uk-margin-auto">
                <span></span>
                <button class="btn-icon btn-danger" popconfirm="direction:tl">tl</button>
                <button class="btn-icon btn-danger" popconfirm="direction:tc">tc</button>
                <button class="btn-icon btn-danger" popconfirm="direction:tr">tr</button>
                <span></span>
                <button class="btn-icon btn-danger" popconfirm="direction:lt">lt</button>
                <span></span>
                <span></span>
                <span></span>
                <button class="btn-icon btn-danger" popconfirm="direction:rt">rt</button>
                <button class="btn-icon btn-danger" popconfirm="direction:lc">lc</button>
                <span></span>
                <span></span>
                <span></span>
                <button class="btn-icon btn-danger" popconfirm="direction:rc">rc</button>
                <button class="btn-icon btn-danger" popconfirm="direction:lb">lb</button>
                <span></span>
                <span></span>
                <span></span>
                <button class="btn-icon btn-danger" popconfirm="direction:rb">rb</button>
                <span></span>
                <button class="btn-icon btn-danger" popconfirm="direction:bl">bl</button>
                <button class="btn-icon btn-danger" popconfirm="direction:bc">bc</button>
                <button class="btn-icon btn-danger" popconfirm="direction:br">br</button>
                <span></span>
            </div>
        </div>
    </div>


    <div class="card col gap-3">
        <h3>
            باتن ها
        </h3>
        <div class="row gap-3">
            <button class="btn btn-dashed"><span>Button</span><span uk-icon="skull"></span></button>
            <button class="btn btn-icon"><span>Button</span><span uk-icon="skull"></span></button>
            <button class="btn btn-link"><span>Button</span><span uk-icon="skull"></span></button>
            <button class="btn btn-secondary"><span>Button</span><span uk-icon="skull"></span></button>
            <button class="btn btn-primary"><span>Button</span><span uk-icon="skull"></span></button>
            <button class="btn btn-text"><span>Button</span><span uk-icon="skull"></span></button>
            <button class="btn btn-success"><span>Button</span><span uk-icon="skull"></span></button>
            <button class="btn btn-warning"><span>Button</span><span uk-icon="skull"></span></button>
            <button class="btn btn-danger"><span>Button</span><span uk-icon="skull"></span></button>
        </div>

        <div class="row gap-3">
            <button class="btn-icon btn-icon"><span uk-icon="skull"></span></button>
            <button class="btn-icon btn-text"><span uk-icon="skull"></span></button>
            <button class="btn-icon btn-success"><span uk-icon="skull"></span></button>
            <button class="btn-icon btn-warning"><span uk-icon="skull"></span></button>
            <button class="btn-icon btn-danger"><span uk-icon="skull"></span></button>
        </div>

        <div class="row gap-3">
            <button class="btn-icon round btn-icon" onclick="notify('hello','')"><span uk-icon="skull"></span></button>
            <button class="btn-icon round btn-text" onclick="notify('hello','primary')"><span uk-icon="skull"></span></button>
            <button class="btn-icon round btn-success" onclick="notify('ساکسس','success')"><span uk-icon="skull"></span></button>
            <button class="btn-icon round btn-warning" onclick="notify('وارنینگ','warning')"><span uk-icon="skull"></span></button>
            <button class="btn-icon round btn-danger" onclick="notify('دنجر','danger')"><span uk-icon="skull"></span></button>
        </div>
    </div>

    <div class="card col">
        <h3>
            مودال ها
        </h3>

        <div class="row gap-3">
            <button uk-toggle="#modal" class="btn btn-primary"><span>MODAL</span></button>
            <button uk-toggle="#form" class="btn btn-primary"><span>FORM</span></button>
        </div>
    </div>

    <!-- This is the modal -->
    <div id="modal" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            <h2 class="uk-modal-title">مودال</h2>
            <p>
                Laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum.
            </p>
            <div class="rowr">
                <button class="btn btn-primary uk-modal-close" dir="rtl">
                    <span>
                        بستن
                    </span>
                </button>
            </div>
        </div>
    </div>

    <!-- This is the modal -->
    <div id="form" uk-modal>
        <div class="uk-modal-dialog form">
            <div class="form-header">
                <h3>فرم در مدال</h3>
            </div>
            <div class="form-body">
                <div class="fg-col">
                    <label class="fg-label">نام کاربری</label>
                    <input class="entry" type="text" />
                    <span class="text-danger">این یک تت می باشد</span>
                </div>
                <div class="fg-col">
                    <label class="fg-label">گذرواژ</label>
                    <input class="entry" type="password" />
                    <span class="text-danger">این هم یک تست می باشد</span>
                </div>
            </div>
            <div class="form-footer">
                <div class="actions">
                    <button class="btn btn-primary">این یک تست می باشد</button>
                </div>
            </div>
        </div>
    </div>

    <div class="card col">
        <h3>
            گیج ها
        </h3>

        <div class="row gap-3">

            <div gauge="percent:32;size:240;thickness:12">
                <div class="uk-margin-auto col">
                    <label>
                        30
                    </label>
                    <span>
                        این یک تست می باشد
                    </span>
                </div>
            </div>
            <div gauge="percent:64;size:120;thickness:6"></div>
            <div gauge="percent:72;size:60;thickness:4"></div>

            <div gauge="percent:72;size:20;thickness:4"></div>


        </div>

    </div>

    <div class="card col">
        <h3>
            آپلود
        </h3>

        <div class="row">
            <label class="profile-image" style="background-image:url('/st/png/blue.png')" preview="">
                <input type="file" accept="image/png,image/jpg,image/jpeg,image/gif" value="" />
            </label>
        </div>

    </div>

    <div class="col-at-xs rowr-at-m gap-between-card uk-child-width-1-1-at-xs uk-child-width-1-2">

        <partial name="Activity" />

        <partial name="Counters" />

    </div>

    <div class="col-at-xs rowr-at-m gap-between-card uk-child-width-1-1-at-xs uk-child-width-1-2">

        <div class="card col gap-4">
            @for (int i = 0; i < 5; i++)
            {
                <!-- #region User -->
                <div class="icon-list-item">
                    <img src="~/st/png/blue.png" class="round" width="42" height="42" alt="" />
                    <div class="col">
                        <label>صدرا محمدی</label>
                        <span>برنامه نویس</span>
                    </div>
                    <a href="" class="btn btn-icon round text-4" uk-icon="icon:ellipsis-h;ratio:.72"></a>
                    <div class="dropdown" uk-drop="mode: click">
                        <ul class="dropdown-list">
                            <li>
                                <a href="" class="rowr">
                                    <span class="new">ویرایش</span>
                                    <span class="small" uk-icon="pen-square"></span>
                                </a>
                            </li>
                            <li>
                                <a href="" class="rowr">
                                    <span>حذف</span>
                                    <span class="small" uk-icon="trash"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- #endregion -->
            }
        </div>

        <div>
            <div class="form">
                <div class="form-header">
                    این تایتل فرم می باشد
                </div>
                <div class="form-search card-padding">
                    this is a test
                </div>
                <div class="form-body">
                    Ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat.
                </div>
                <div class="form-footer">
                    <button class="btn btn-primary">
                        <span>تایید</span>
                    </button>
                </div>
            </div>
        </div>


    </div>

</div>

@section Scripts{

    <script>
        require(['config'], function () {
            require(['timeline'], function () {

            })
        });
    </script>

    <script>
        require(['config'], function () {
            require(['confirm'], function () {

            })
        });
    </script>

}


